<div class="col-lg-2 mt-3">
	<div class="row">
		<div class="col-12 text-center">
			<figure class="mb-0">
				{{#if user.avatar}}
				<img class="rounded-circle lb-img-profile-dashboard" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg">
				{{else}}
				<img class="rounded-circle lb-img-profile-dashboard" src="/discordicon.png">
				{{/if}}
			</figure>
		</div>
		<div class="col-12 text-white text-center">
			<h3 class="font-weight-light mb-0">{{lang.website_nav_dashboard_welcome}},</h3>
			<h4 class="font-weight-light lb-textcap">{{user.username}}</h4>
			<h6 class="font-weight-light mb-0 lb-textcap">{{guilds.name}}</h6>
			<button class="btn lb-btn-trans-whitereal d-lg-none float-right" id="toggle-menu"><i class="mdi mdi-menu"></i></button>
		</div>

	</div>
	<div class="nav flex-column nav-pills navbar-dark mb-3" id="mainnavbar">
		<hr class="lb-hr-dashboard">
		<div class="menu">
			<a href="/dashboard/{{guilds.id}}/overview" class="nav-link lb-btn-nav" id="overview" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-eye"></i> {{lang.website_nav_dashboard_overview}}</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/modules" class="nav-link lb-btn-nav" id="modules" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-folder-multiple"></i> {{lang.website_nav_dashboard_modules}}</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/administration" class="nav-link lb-btn-nav" id="administration" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-settings"></i> Administration</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/moderation" class="nav-link lb-btn-nav" id="moderation" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-gavel"></i> Moderation</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/help" class="nav-link lb-btn-nav" id="help" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-help"></i> Help</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/music" class="nav-link lb-btn-nav" id="music" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-music"></i> Music</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/fun" class="nav-link lb-btn-nav" id="fun" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-gamepad"></i> Fun</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/searches" class="nav-link lb-btn-nav" id="searches" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-magnify"></i> Searches</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/nsfw" class="nav-link lb-btn-nav" id="nsfw" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-alert"></i> NSFW</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/utility" class="nav-link lb-btn-nav" id="utility" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-lightbulb-on"></i> Utility</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/application" class="nav-link lb-btn-nav" id="application" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-file-document-box-outline"></i> Application</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/currency" class="nav-link lb-btn-nav" id="currency" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-currency-usd"></i> Currency</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/tickets" class="nav-link lb-btn-nav" id="tickets" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-ticket-account"></i> Tickets</div>
			</a>
			<a href="/dashboard/{{guilds.id}}/customcommands" class="nav-link lb-btn-nav" id="ccommands" role="button">
				<div class="lb-textcap mb-0"><i class="mdi lb-dashboard-icon mdi-console"></i> Custom commands</div>
			</a>
		</div>
	</div>
</div>