<title>{{lang.website_dashboardadministration_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#administration';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm lb-card-dashboard">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardadministration_generalsettings}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" name="submitprefix">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newprefix">{{lang.website_dashboardadministration_prefix}}</label>
                                </div>
                                <div class="form-group mx-3 mb-2 col-sm-4 col-lg-3">
                                    <input type="text" class="form-control lb-input-prefix" id="newprefix" name="newprefix"
                                        pattern=".{1,}" required value="{{guilds.prefix}}">
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3 lb-btn-cform" id="submitprefix">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlanguage">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newlanguage">{{lang.website_dashboardadministration_language}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newlanguage">
                                        {{#each languagesList}} {{#if set}}
                                        <option value='{"alias": "{{alias}}", "momentLanguage": "{{momentLanguage}}" }' selected>{{name}}</option>
                                        {{else}}
                                        <option value='{"alias": "{{alias}}", "momentLanguage": "{{momentLanguage}}" }'>{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit"  class="btn lb-btn-green mb-2 ml-3 lb-btn-cform" id="submitlanguage">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitcommanddeletion">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newcommanddeletion">{{lang.website_dashboardadministration_cmddeletion}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newcommanddeletion">
                                        {{#if commanddeletionset}}
                                        <option value="true" selected>{{lang.website_global_activated}}</option>
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="true">{{lang.website_global_activated}}</option>
                                        <option value="false" selected>{{lang.website_global_deactivated}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3 lb-btn-cform" id="submitcommanddeletion">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitmuterole">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newmuterole">{{lang.website_dashboardadministration_muterole}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select class="selectpicker" name="newmuterole" data-live-search="true" title="Choose muterole"
                                        data-actions-box="true" data-size="7">
                                        {{#if muteroledeactivated}}
                                        <option selected value="">{{lang.website_dashboardadministration_none}}</option>
                                        {{else}}
                                        <option value="">{{lang.website_dashboardadministration_none}}</option>
                                        {{/if}}
                                        {{#each roles}} {{#if muteroleset}}
                                        <option value="{{id}}" selected>@{{name}}</option>
                                        {{else}}
                                        <option value="{{id}}">@{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitmuterole">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submittogglexpmessages">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newxpmessages">{{lang.website_dashboardadministration_xpmsg}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newxpmessages">
                                        {{#if xpmesssagesset}}
                                        <option value="true" selected>{{lang.website_global_activated}}</option>
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="true">{{lang.website_global_activated}}</option>
                                        <option value="false" selected>{{lang.website_global_deactivated}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittogglexpmessages">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submittogglexp">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newxpchannels">{{lang.website_dashboardadministration_channelsxpmsg}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newxpchannels" data-live-search="true"
                                        multiple title="Choose channel(s)" data-actions-box="true" data-size="7">
                                        {{#each channels}} {{#if togglexpset}}
                                        <option value="{{name}}" selected>#{{name}}</option>
                                        {{else}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittogglexp">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitselfassignableroles">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newselfassignableroles">{{lang.website_dashboardadministration_sar}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select class="selectpicker" name="newselfassignableroles" data-live-search="true"
                                        multiple title="Choose role(s)" data-actions-box="true" data-size="7">
                                        {{#each roles}} {{#if selfassignablerolesset}}
                                        <option value="{{id}}" selected>@{{name}}</option>
                                        {{else}}
                                        <option value="{{id}}">@{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitselfassignableroles">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submittoggleannounce">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newannounce">{{lang.website_dashboardadministration_toggleannounce}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newannounce" data-live-search="true"
                                        title="Choose channel" data-actions-box="true" data-size="7">
                                        {{#if announcedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if announceset}}
                                        <option selected value="{{id}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{id}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittoggleannounce">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitpermissionsdashboard">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newpermissiondashboard">{{lang.website_dashboardadministration_permdashboard}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select multiple class="selectpicker" name="newpermissiondashboard"
                                        data-live-search="true" title="Choose role(s)" data-actions-box="true"
                                        data-size="7">
                                        {{#each roles}} {{#if dashboardpermissionset}}
                                        <option selected value="{{id}}">@{{name}}</option>
                                        {{else}}
                                        <option value="{{id}}">@{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitpermissionsdashboard">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitpermissionsticket">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newpermissionticket">{{lang.website_dashboardadministration_permticket}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newpermissionticket" data-live-search="true"
                                        title="Choose permission" data-actions-box="true" data-size="7">
                                        {{#each permissions}} {{#if ticketpermissionset}}
                                        <option selected value="{{number}}">{{name}}</option>
                                        {{else}}
                                        <option value="{{number}}">{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitpermissionsticket">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitpermissionsapplication">
                                <div class="form-group mb-2 col-sm-3">
                                    <labelfor="newpermissionapplication">{{lang.website_dashboardadministration_permapplication}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newpermissionapplication"
                                        data-live-search="true" title="Choose permission" data-actions-box="true"
                                        data-size="7">
                                        {{#each permissions}} {{#if applicationpermissionset}}
                                        <option selected value="{{number}}">{{name}}</option>
                                        {{else}}
                                        <option value="{{number}}">{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitpermissionsapplication">{{lang.website_global_save}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 lb-card-dashboard shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardadministration_logs}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" name="submitlogs">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="modlog">Modlog:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="modlog">
                                        {{#if confs.modlogdeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if modlogset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs2">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="chatfilterlog">Chatfilter:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="chatfilterlog">
                                        {{#if confs.chatfilterdeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if chatfilterset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs2">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs3">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="messagedeletelog">Messagedelete:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="messagedeletelog">
                                        {{#if confs.messagedeletedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if messagedeleteset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs3">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs4">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="messageupdatelog">Messageupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="messageupdatelog">
                                        {{#if confs.messageupdatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if messageupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs4">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs5">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="channelupdatelog">Channelupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="channelupdatelog">
                                        {{#if confs.channelupdatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if channelupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs5">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs6">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="channelcreatelog">Channelcreate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="channelcreatelog">
                                        {{#if confs.channelcreatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if channelupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs6">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs7">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="channeldeletelog">Channeldelete:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="channeldeletelog">
                                        {{#if confs.channeldeletedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if channeldeleteset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs7">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs8">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="memberupdatelog">Memberupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="memberupdatelog">
                                        {{#if confs.memberupdatdeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if memberupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs8">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs9">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="presenceupdatelog">Presenceupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="presenceupdatelog">
                                        {{#if confs.presenceupdatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if presenceupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs9">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs10">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="welcomelog">Userjoin:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="welcomelog">
                                        {{#if confs.welcomedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if welcomeset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs10">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs11">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="byelog">Userleft:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="byelog">
                                        {{#if confs.byelogdeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if byeset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs11">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs12">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="rolecreatelog">Rolecreate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="rolecreatelog">
                                        {{#if confs.rolecreatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if rolecreateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs12">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs13">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="roledeletelog">Roledelete:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="roledeletelog">
                                        {{#if confs.roledeletedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if roledeleteset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs13">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs14">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="roleupdatelog">Roleupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="roleupdatelog">
                                        {{#if confs.roleupdatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if roleupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs14">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-inline" name="submitlogs15">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="guildupdatelog">Guildupdate:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" data-live-search="true" data-size="7" name="guildupdatelog">
                                        {{#if confs.guildupdatedeactivated}}
                                        <option selected value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{/if}} {{#each channels}} {{#if guildupdateset}}
                                        <option selected value="{{name}}">#{{name}}</option>
                                        {{/if}}
                                        <option value="{{name}}">#{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submitlogs15">{{lang.website_global_save}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardadministration_welcomesettings}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" name="submittogglewelcome">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newwelcome">{{lang.website_dashboardadministration_welcome}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newwelcome" data-live-search="true"
                                        data-size="7">
                                        {{#each channels}} {{#if welcomeset}}
                                        <option value="{{id}}" selected>#{{name}}</option>
                                        {{else}}
                                        <option value="{{id}}">#{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittogglewelcome">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-horizontal" name="submitwelcomemsg">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="newwelcomemsg">{{lang.website_dashboardadministration_setnewwelcome}}</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="newwelcomemsg" rows="3">{{guilds.welcomemsg}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green mb-1" id="submitwelcomemsg">{{lang.website_global_save}}</button>
                                        <button id="popover-for-msgoptions1" type="button" class="btn lb-btn-grey mb-1"
                                            data-toggle="popover" title="All message options:" data-content="$usertag$<br>$usermention$<br>$username$<br>$userid$<br>$guildname$<br>$guildid$">{{lang.website_dashboardadministration_showmsgoptions}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardadministration_byesettings}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" name="submittogglebye">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newbye">{{lang.website_dashboardadministration_bye}}</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newbye" data-live-search="true"
                                        data-size="7">
                                        {{#each channels}} {{#if byeset}}
                                        <option value="{{id}}" selected>#{{name}}</option>
                                        {{else}}
                                        <option value="{{id}}">#{{name}}</option>
                                        {{/if}} {{/each}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittogglebye">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-horizontal" name="submitbyemsg">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="newbyemsg">{{lang.website_dashboardadministration_setnewbye}}</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="newbyemsg" rows="3">{{guilds.byemsg}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green mb-1" id="submitbyemsg">{{lang.website_global_save}}</button>
                                        <button id="popover-for-msgoptions2" type="button" class="btn lb-btn-grey mb-1"
                                            data-toggle="popover" title="All message options:" data-content="$usertag$<br>$username$<br>$userid$<br>$guildname$<br>$guildid$">{{lang.website_dashboardadministration_showmsgoptions}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardadministration_chatfilter}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" name="submittogglechatfilter">
                                <div class="form-group mb-2 col-sm-3">
                                    <label for="newchatfilter">{{lang.website_dashboardadministration_chatfilter}}:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 col-sm-4 col-lg-3">
                                    <select required class="selectpicker" name="newchatfilter">
                                        {{#if chatfilterset}}
                                        <option value="true" selected>{{lang.website_global_activated}}</option>
                                        <option value="false">{{lang.website_global_deactivated}}</option>
                                        {{else}}
                                        <option value="true">{{lang.website_global_activated}}</option>
                                        <option value="false" selected>{{lang.website_global_deactivated}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                                <button type="submit" class="btn lb-btn-green mb-2 ml-3" id="submittogglechatfilter">{{lang.website_global_save}}</button>
                            </form>
                            <form class="form-horizontal" name="submitchatfilterarray">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="newbyemsg">{{lang.website_dashboardadministration_chatfilterinfo}}</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="newchatfilterarray" rows="3" placeholder="word1,word2,word3"
                                            pattern="^\S+$">{{chatfilterarray}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green mb-2" id="submitchatfilterarray">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        {{> commandsection}}
                        {{> customforms/administration}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#popover-for-msgoptions1').popover({
                container: 'body',
                html: true
            })
            $('#popover-for-msgoptions2').popover({
                container: 'body',
                html: true
            })
        })
    </script>
</main>