<title>{{lang.website_dashboardapplication_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#application';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <a href="/dashboard/{{guilds.id}}/applications" class="btn lb-btn-green btn-lg">{{lang.website_dashboardapplication_button}}</a>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_application}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitapplication">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newapplication">{{lang.website_dashboardapplication_toggleapplication}}</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newapplication" data-actions-box="true" data-size="7">
                                            <option value="true">{{lang.website_dashboardapplication_activate}}</option>
                                            <option value="false">{{lang.website_dashboardapplication_deactivate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitapplication">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_reactionnumberinfo}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitreactionnumber">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newreactionnumber">{{lang.website_dashboardapplication_newreactionnumber}}</label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" min="1" name="newreactionnumber"
                                            pattern=".{1,}" required value="{{guilds.reactionnumber}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10" style="margin-top: 20px;">
                                        <button type="submit" class="btn lb-btn-green" id="submitreactionnumber">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_roleforaccepted}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitrole">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newrole">{{lang.website_dashboardapplication_selectrole}}</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newrole" data-live-search="true" title="Choose role" data-actions-box="true"
                                            data-size="7">
                                            <option value="false">{{lang.website_dashboardapplication_norole}}</option>
                                            {{#each roles}} {{#if roleset}}
                                            <option value="{{id}}" selected>#{{name}}</option>
                                            {{else}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/if}} {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitrole">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_roleforrejected}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitdenyrole">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newdenyrole">{{lang.website_dashboardapplication_selectrole}}</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newdenyrole" data-live-search="true" title="Choose role"
                                            data-actions-box="true" data-size="7">
                                            <option value="false">{{lang.website_dashboardapplication_norole}}</option>
                                            {{#each roles}} {{#if denyroleset}}
                                            <option value="{{id}}" selected>#{{name}}</option>
                                            {{else}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/if}} {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitdenyrole">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_messageaccepted}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitnewacceptedmsg">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newacceptedmsg">{{lang.website_dashboardapplication_newmessage}}</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" name="newacceptedmsg" rows="3">{{guilds.acceptedmessage}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitnewacceptedmsg">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>{{lang.website_dashboardapplication_messagerejected}}</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitnewrejectedmsg">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newrejectedmsg">{{lang.website_dashboardapplication_newmessage}}</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" name="newrejectedmsg" rows="3">{{guilds.rejectedmessage}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitnewrejectedmsg">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        {{> commandsection}}
                        {{> customforms/application}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>