
<title>{{lang.website_dashboardapplications_htmltitle}} - LenoxBot</title>
<script>
	var currentNavDashId = '#application';
</script>

<main>
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
                <div class="col-sm-10 lb-dashboard lb-mcsp">
                    <div class="lb-bg-white rounded p-3">
                            <div class="card mt-3 shadow-sm">
                                <div class="card-header">
                                    <p class="h5">{{lang.website_dashboardapplications_allopen}}</p>
                                </div>
                                <div class="card-body">
                                    {{#if applicationscheck}}
                                        {{#each applications}}
                                        <div class="text h5" style="margin-bottom: 5px; margin-top: 5px;">
                                            <a href="applications/{{@key}}/overview">{{author}} - {{newdate}}
                                            </a>
                                        </div>
                                        {{/each}}
                                    {{else}}
                                    <p>{{lang.website_dashboardapplications_noopen}}</p>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="card mt-3 shadow-sm">
                                <div class="card-header">
                                    <p class="h5">{{lang.website_dashboardapplications_allclose}}</p>
                                </div>
                                <div class="card-body">
                                    {{#if oldapplicationscheck}}
                                        {{#each oldapplications}}
                                        <div class="text h5" style="margin-bottom: 5px; margin-top: 5px;">
                                            <a href="applications/{{@key}}/overview">
                                                {{author}} - {{newdate}}
                                            </a>
                                        </div>
                                        {{/each}}
                                    {{else}}
                                    <p>{{lang.website_dashboardapplications_noclose}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</main>