<title>{{lang.website_dashboardcustomcommands_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#ccommands';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5 d-inline">{{lang.website_dashboardcustomcommands_all}}</p>
                            <button type="button" class="btn lb-btn-green float-right" data-toggle="modal" data-target="#newmodal">{{lang.website_global_new}}</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        {{#if isCustomCommands}} {{#each customcommands}}
                                        <tr id="{{name}}row">
                                            <td>
                                                <div class="col-sm-8">
                                                    <h6>{{name}}</h6>
                                                    <p class="text-muted" id="{{name}}desc">{{description}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="modal fade" id="{{name}}modal" tabindex="-1" role="dialog"
                                                    aria-labelledby="{{name}}Title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">{{../lang.website_dashboardcustomcommands_settings}}</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <form class="form-inline" id="{{name}}formmodal">
                                                                <div class="modal-body">
                                                                    <p>{{../lang.website_dashboardcustomcommands_created}}</p>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newdescription">{{../lang.website_dashboardcustomcommands_description}}</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-12">
                                                                        <textarea class="form-control" name="newdescription"
                                                                            rows="2" maxlength="60" id="{{name}}inputdesc">{{description}}</textarea>
                                                                    </div>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newcommandanswer">{{../lang.website_dashboardcustomcommands_currentresponse}}</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-12">
                                                                        <textarea required class="form-control" name="newcommandanswer"
                                                                            rows="2" maxlength="2000">{{commandanswer}}</textarea>
                                                                    </div>
                                                                    <hr>
                                                                    <button type="submit" id="{{name}}bmodal" class="btn lb-btn-green">{{../lang.website_dashboardcustomcommands_savechanges}}</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="{{name}}delmodal" tabindex="-1" role="dialog"
                                                    aria-labelledby="{{name}}Title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">{{../lang.website_dashboardcustomcommands_sure}}</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <form class="form-inline" id="{{name}}formdelmodal">
                                                                <div class="modal-body">
                                                                    <p>{{../lang.website_dashboardcustomcommands_suretodelete}}
                                                                    </p>
                                                                    <hr>
                                                                    <button type="submit" id="{{name}}delb" class="btn lb-btn-green">{{../lang.website_global_yes}}</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="float-right d-inline">
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn lb-btn-blue" data-toggle="modal"
                                                            data-target="#{{name}}modal">
                                                            {{../lang.website_global_edit}}
                                                        </button>
                                                        {{#if newstatus}}
                                                        <form id="{{name}}ccform">
                                                            <input type="hidden" value="false" name="statuschange" id="{{name}}status">
                                                        </form>
                                                        <button type="submit" class="btn lb-btn-red" id="{{name}}b">
                                                            {{../lang.website_global_disable}}
                                                        </button>
                                                        {{else}}
                                                        <form id="{{name}}ccform">
                                                            <input type="hidden" value="true" name="statuschange" id="{{name}}status">
                                                        </form>
                                                        <button type="submit" class="btn lb-btn-green" id="{{name}}b">
                                                            {{../lang.website_global_enable}}
                                                        </button>
                                                        {{/if}}
                                                        <button type="button" class="btn lb-btn-red" data-toggle="modal"
                                                            data-target="#{{name}}delmodal">
                                                            {{../lang.website_global_delete}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{> customforms/customcommand}}
                                        {{/each}}
                                        {{else}}
                                        <p>{{lang.website_dashboardcustomcommands_nocustomcommands}}</p>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="newmodal" tabindex="-1" role="dialog" aria-labelledby="newTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{lang.website_dashboardcustomcommands_createnew}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form id="newformmodal" action="/dashboard/{{guilds.id}}/customcommands/submitnewcustomcommand" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group mb-2">
                                            <label for="newdescription">{{lang.website_dashboardcustomcommands_commandname}}</label>
                                            <input type="text" class="form-control" name="newname" id="newinputdesc"
                                                required>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newdescription">{{lang.website_dashboardcustomcommands_commanddescription}}</label>
                                            <textarea required class="form-control" name="newdescription" rows="2"
                                                maxlength="60" id="newinputdesc"></textarea>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newcommandanswer">{{lang.website_dashboardcustomcommands_commandresponse}}</label>
                                            <textarea required class="form-control" name="newcommandanswer" rows="2"
                                                maxlength="2000"></textarea>
                                        </div>
                                        <hr>
                                        <button type="submit" id="newbmodal" class="btn lb-btn-green">{{lang.website_global_send}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm mt-3">
                        {{> commandsection}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>