<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

<title>{{lang.website_dashboardlastlogs_htmltitle}} - LenoxBot</title>
<script>
	var currentNavDashId = '#overview';
</script>


<main>
	<div class="container-fluid">
		<div class="row">
			{{> nav-dashboard}}
			<div class="col-lg-10 lb-dashboard lb-mcsp">
				<div class="lb-bg-white rounded p-3">
					<div class="card shadow-sm">
						<div class="card-header">
							<p class="h5">{{lang.website_dashboardlastlogs_alllogs}}</p>
						</div>
						<div class="card-body">
							<div class="form-group">
								<input class="form-control lb-input d-none" id="search-input" type="text" placeholder="Search...">
							</div>
							<table class="table table-bordered table-responsive-sm table-striped" id="table">
								<!-- Header of logs -->
								<thead>
									<tr>
										<th>{{lang.website_dashboard_action}}</th>
										<th>{{lang.website_dashboard_executor}}</th>
										<th>{{lang.website_dashboard_executed}}</th>
										<th>{{lang.website_dashboard_date}}</th>
									</tr>
								</thead>
								<!-- Body of logs -->
								<tbody>
									{{#if logs}} {{#each logs}}
									<tr>
										<td>{{action}}</td>
										<td>{{username}}</td>
										<td>{{executed}}</td>
										<td>{{showeddate}}</td>
									</tr>
									{{/each}} {{else}}
									<tr>
										<td>{{lang.website_dashboard_none}}</td>
										<td>{{lang.website_dashboard_none}}</td>
										<td>{{lang.website_dashboard_none}}</td>
										<td>{{lang.website_dashboard_none}}</td>
									</tr>
									{{/if}}
								</tbody>
							</table>
							<script>
								$(document).ready(function () {
									if (window.matchMedia("(max-width: 530px)").matches) {
										$('#search-input').removeClass('d-none');
									} else {
										$('#search-input').addClass('d-none');
										$('#table').DataTable({
											"ordering": false
										});
										$('.page-item active').addClass('lb-bg-blue');
									}
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="/js/commands.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>