<title>{{lang.website_dashboardmoderation_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#moderation';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardmoderation_amute}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitmuteanonymous">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="newmuteanonymous">{{lang.website_dashboardmoderation_amute2}}</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newmuteanonymous" data-actions-box="true" data-size="7">
                                            {{#if muteanonymous}}
                                            <option value="true" selected>{{lang.website_global_activate}}</option>
                                            <option value="false">{{lang.website_global_deactivate}}</option>
                                            {{else}}
                                            <option value="true">{{lang.website_global_activate}}</option>
                                            <option value="false" selected>{{lang.website_global_deactivate}}</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitmuteanonymous">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardmoderation_atempban}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submittempbananonymous">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="newtempbananonymous">{{lang.website_dashboardmoderation_atempban2}}</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newtempbananonymous" data-actions-box="true" data-size="7">
                                            {{#if tempbananonymous}}
                                            <option value="true" selected>{{lang.website_global_activate}}</option>
                                            <option value="false">{{lang.website_global_deactivate}}</option>
                                            {{else}}
                                            <option value="true">{{lang.website_global_activate}}</option>
                                            <option value="false" selected>{{lang.website_global_deactivate}}</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submittempbananonymous">{{lang.website_global_save}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        {{> commandsection}}
                        {{> customforms/moderation}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>