<title>{{lang.website_dashboardmodules_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#modules';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-body px-3 py-0">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 my-3">
                                    <div class="card text-center" style="height: 100%;">
                                        <div class="card-body">
                                            <figure>
                                                <a href="/dashboard/{{../guilds.id}}/administration" target="blank">
                                                    <i class="mdi mdi-account-alert lb-dashboard-modules-icon"></i>
                                                </a>
                                            </figure>
                                            <a href="/dashboard/{{guilds.id}}/administration">
                                                <h5 class="card-title">Administration</h5>
                                            </a>
                                            <p class="card-text">{{lang.website_dashboardmodules_administration}}s</p>
                                        </div>
                                        <div class="card-footer lb-card-footer pb-3">
                                            <div class="btn-group" role="group" aria-label="Status">
                                                <button type="submit" class="btn lb-btn-green disabled" value="false"
                                                    name="newmodulestatus">
                                                    {{lang.website_dashboardmodules_alwaysenabled}}
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {{#each modules}}
                                <div class="col-sm-6 col-lg-4 my-3">
                                    <div class="card text-center" style="height: 100%;">
                                        <div class="card-body">
                                            <figure>
                                                <a href="/dashboard/{{../guilds.id}}/{{name}}" target="blank">
                                                    <i class="mdi mdi-{{icon}} lb-dashboard-modules-icon"></i>
                                                </a>
                                            </figure>
                                            <a href="/dashboard/{{../guilds.id}}/{{name}}">
                                                <h5 class="card-title">{{name}}</h5>
                                            </a>
                                            <p class="card-text">{{description}}</p>
                                        </div>
                                        <div class="card-footer lb-card-footer pb-3">
                                            {{#if status}}
                                            <div aria-label="Status">
                                                <form id="{{name}}form">
                                                    <input type="hidden" value="false" id="{{name}}status"
                                                        name="{{name}}">
                                                </form>
                                                <button type="submit" class="btn lb-btn-red align-text-bottom"
                                                    id="{{name}}b">
                                                    {{../lang.website_global_disable}}
                                                </button>
                                            </div>
                                            {{else}}
                                            <div aria-label="Status">
                                                <form id="{{name}}form">
                                                    <input type="hidden" value="true" id="{{name}}status"
                                                        name="{{name}}">
                                                </form>
                                                <button type="submit" class="btn lb-btn-green" id="{{name}}b">
                                                    {{../lang.website_global_enable}}
                                                </button>
                                            </div>
                                            {{/if}}
                                            <script>
                                                (function ($) {
                                                    function processForm(e) {
                                                        $('#{{name}}b').attr('disabled', 'disabled');
                                                        $.ajax({
                                                            url: '/dashboard/{{../guilds.id}}/modules/submitmodules',
                                                            dataType: 'text',
                                                            type: 'post',
                                                            contentType: 'application/x-www-form-urlencoded',
                                                            data: $(this).serialize(),
                                                            success: function (data, textStatus, jQxhr) {
                                                                notifySuccess();
                                                                if ($('#{{name}}b').hasClass(
                                                                        'lb-btn-green')) {
                                                                    $('#{{name}}status').val('false');
                                                                    $('#{{name}}b').addClass(
                                                                        'lb-btn-red').removeClass(
                                                                        'lb-btn-green').text(
                                                                        'Disable');
                                                                } else {
                                                                    $('#{{name}}status').val('true');
                                                                    $('#{{name}}b').addClass(
                                                                        'lb-btn-green').removeClass(
                                                                        'lb-btn-red').text('Enable');
                                                                }
                                                                $('#{{name}}b').removeAttr("disabled");
                                                            },
                                                            error: function (jqXhr, textStatus,
                                                            errorThrown) {
                                                                console.log(errorThrown);
                                                                notifyError();
                                                            }
                                                        });
                                                        e.preventDefault();
                                                    }
                                                    $('#{{name}}form').submit(processForm);
                                                })(jQuery);
                                                $("#{{name}}b").click(function () {
                                                    $("#{{name}}form").submit();
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>