<title>{{lang.website_dashboardmusic_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#music';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    {{#if musiccurrentlyplaying}}
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardmusic_musicplayer}}</p>
                        </div>
                        <div class="card-body">
                            <p>{{lang.website_dashboardmusic_currentmusic}}
                                <strong>{{song}}</strong>
                            </p>
                            <div class="btn-group" role="group" aria-label="musicinteraction">
                                <form name="submitnewmusicaction">
                                    <input type="hidden" value="play" name="newmusicaction">
                                    <button type="submit" class="btn lb-btn-player mr-1" data-toggle="tooltip"
                                        data-placement="bottom" title="Play / Pause">
                                        <i class="mdi mdi-play-pause"></i>
                                    </button>
                                </form>
                                <form name="submitnewmusicaction2">
                                    <input type="hidden" value="stop" name="newmusicaction">
                                    <button type="submit" class="btn lb-btn-player mr-1" data-toggle="tooltip"
                                        data-placement="bottom" title="Stop" id="submitnewmusicaction2">
                                        <i class="mdi mdi-stop"></i>
                                    </button>
                                </form>
                                <form name="submitnewmusicaction3">
                                    <input type="hidden" value="skip" name="newmusicaction">
                                    <button type="submit" class="btn lb-btn-player mr-1" data-toggle="tooltip"
                                        data-placement="bottom" title="Skip" id="submitnewmusicaction3">
                                        <i class="mdi mdi-skip-next"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        {{else}}
                        <div class="card shadow-sm">
                            {{/if}}
                            <div class="card-header">
                                <p class="h5">{{lang.website_dashboardmusic_musicblacklist}}</p>
                            </div>
                            <div class="card-body">
                                <form class="form-vertical" name="submitchannelblacklist">
                                    <div class="form-group">
                                        <label class="control-label col-sm" for="newchannelblacklist">{{lang.website_dashboardmusic_musicblacklistinfo}}</label>
                                        <div class="col-sm-4">
                                            <select required
                                                class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                                name="newchannelblacklist" data-live-search="true" multiple
                                                title="Choose voicechannel(s)" data-actions-box="true" data-size="7">
                                                {{#each voicechannels}} {{#if channelblacklistset}}
                                                <option value="{{name}}" selected>{{name}}</option>
                                                {{else}}
                                                <option value="{{name}}">{{name}}</option>
                                                {{/if}} {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-10">
                                            <button type="submit" class="btn lb-btn-green"
                                                id="submitchannelblacklist">{{lang.website_global_save}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{#if discordServerPremium}}
                        <div class="card mt-3 shadow-sm">
                            <div class="card-header">
                                <p class="h5">{{lang.website_dashboardmusic_playlists}}</p>
                            </div>
                            <div class="card-body">
                                {{#each discordServerPlaylists}}
                                    <p class="h5">{{add @index 1}}. {{name}}</p>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="card shadow-sm mt-3">
                            {{> commandsection}}
                            {{> customforms/music}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>