<title>{{lang.website_dashboard_htmltitle}} - LenoxBot</title>
<script>
	var currentNavDashId = '#overview';
</script>
<main>
	<div class="container-fluid">
		<div class="row">
			{{> nav-dashboard}}
			<div class="col-lg-10 lb-dashboard lb-mcsp">
				<div class="lb-bg-white rounded p-3">
					<div class="card-group mt-3 shadow-sm">
						<div class="card">
							<div class="card-body text-center">
								<h1 class="card-title mb-0">{{guilds.memberscount}}</h1>
								<h5 class="text-muted font-weight-light">{{lang.website_dashboard_members}}</h5>

							</div>
						</div>
						<div class="card">
							<div class="card-body text-center">
								<h1 class="card-title mb-0">{{guilds.channelscount}}</h1>
								<h5 class="text-muted font-weight-light">{{lang.website_dashboard_channels}}</h5>
							</div>
						</div>
						<div class="card">
							<div class="card-body text-center">
								<h1 class="card-title mb-0">{{guilds.rolescount}}</h1>
								<h5 class="text-muted font-weight-light">{{lang.website_dashboard_roles}}</h5>
							</div>
						</div>
						<div class="card">
							<div class="card-body text-center">
								<h1 class="card-title mb-0">{{guilds.prefix}}</h1>
								<h5 class="text-muted font-weight-light">{{lang.website_dashboard_prefix}}</h5>
							</div>
						</div>
					</div>
					<div class="card my-3 shadow-sm">
						<div class="card-header">
							<h5>{{lang.website_dashboard_lastlogs}}</h5>
						</div>
						<div class="card-body">
							<table class="table table-bordered table-responsive-sm table-striped">
								<!-- Header of logs -->
								<tr>
									<th>{{lang.website_dashboard_action}}</th>
									<th>{{lang.website_dashboard_executor}}</th>
									<th>{{lang.website_dashboard_executed}}</th>
									<th>{{lang.website_dashboard_date}}</th>
								</tr>
								<!-- Header of logs -->
								{{#if logs}} {{#each logs}}
								<tr>
									<td>{{action}}</td>
									<td>{{username}}</td>
									<td>{{executed}}</td>
									<td>{{showeddate}}</td>
								</tr>
								{{/each}} {{else}}
								<tr>
									<td>{{lang.website_dashboard_none}}</td>
									<td>{{lang.website_dashboard_none}}</td>
									<td>{{lang.website_dashboard_none}}</td>
									<td>{{lang.website_dashboard_none}}</td>
								</tr>
								{{/if}}
							</table>
							<a href="/dashboard/{{guilds.id}}/lastlogs">
								<button role="button" class="btn btn-lg lb-btn-green">{{lang.website_dashboard_showall}}</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>