<title>{{lang.website_dashboardtickets_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#tickets';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardtickets_allopen}}</p>
                        </div>
                        <div class="card-body">
                            {{#if ticketszero}}
                            {{#each tickets}}
                            <div class="h5">
                                <a href="tickets/{{@key}}/overview"><i class="mdi mdi-alert-circle-outline lb-text-green"
                                        data-toggle="tooltip" data-placement="right" title="Open ticket"></i>
                                    {{author}} - {{newdate}}</a>
                            </div>
                            {{/each}}
                            {{else}}
                            <p>{{lang.website_dashboardtickets_noopen}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardtickets_allclose}}</p>
                        </div>
                        <div class="card-body">
                            {{#if ticketszeroold}}
                            {{#each oldtickets}}
                            <div class="h5">
                                <a href="tickets/{{@key}}/overview"><i class="mdi mdi-alert-circle-outline lb-text-red"
                                        data-toggle="tooltip" data-placement="right" title="Closed ticket"></i>
                                    {{author}} - {{newdate}}</a>
                            </div>
                            {{/each}}
                            {{else}}
                            <p>{{lang.website_dashboardtickets_noclose}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        {{> commandsection}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>