<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<title>{{lang.website_dashboardutility_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#utility';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_dashboardutility_embed}}</p>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitsendembed">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="sendembedchannel">{{lang.website_dashboardutility_selectchannel}}</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="sendembedchannel" data-live-search="true" title="Choose channel"
                                            data-actions-box="true" data-size="7">
                                            {{#each channels}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedtitle">{{lang.website_dashboardutility_title}}</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="embedtitle" required
                                                placeholder="Title for your embed..." maxlength="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedlink">{{lang.website_dashboardutility_link}}</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="url" class="form-control" name="embedlink" placeholder="https://example.com"
                                                pattern="https://.*">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedcolor">{{lang.website_dashboardutility_color}}</label>
                                    <div class="col-sm-4">
                                        <div id="colorpicker" class="input-group colorpicker-component">
                                            <input required type="text" class="form-control input-lg" value="#bd0c0c"
                                                name="embedcolor">
                                            <span class="input-group-append">
                                                <span class="input-group-text input-group-addon">
                                                    <i></i>
                                                </span>
                                            </span>
                                        </div>
                                        <script>
                                            $(function () {
                                                $('#colorpicker').colorpicker({
                                                    format: "hex"
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedthumbnail">{{lang.website_dashboardutility_thumbnail}}</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="link" class="form-control" name="embedthumbnail" placeholder="https://imgur.com/27A.png"
                                                pattern="(https?:\/\/.*\.(?:png|jpg))">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embeddescription">{{lang.website_dashboardutility_description}}</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" name="embeddescription" rows="5" placeholder="Description for your embed..."
                                            maxlength="1000"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedfooter">{{lang.website_dashboardutility_footer}}</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="embedfooter" placeholder="Footer for your embed..."
                                                maxlength="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <input type="checkbox" name="embedtimestamp" class="form-check-input">
                                            <label class="form-check-label" for="embedtimestamp">{{lang.website_dashboardutility_timestamp}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitsendembed">{{lang.website_global_send}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        {{> commandsection}}
                        {{> customforms/utility}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>