<main>
    <div class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table">
                        <table class="table mt-3" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="h3"><span class="pull-left">Place</span></th>
                                    <th class="h3"><span class="pull-left">User</span></th>
                                    <th class="h3"><span class="pull-right">Points</span></th>
                                    <th class="h3"><span class="pull-right">Level</span></th>
                                </tr>
                            </thead>

                            <!-- Rankinglist-->
                            <tbody>
                                {{#each ranks}}
                                <tr>
                                    <td>{{place}}1</td>
                                    <td><img class="rounded-circle lb-img-profile" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg"><span class="h5">{{user}}</span></td> 
                                    <td><span class="pull-right lb-count">{{points}}</span></td>
                                    <td><span class="pull-right lb-count">{{level}}</span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>