<title>{{lang.website_application_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#application';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">{{lang.website_application_overview}}</p>
                            <div class="btn-group" role="group" aria-label="Status">
                                <form name="submitdeleteapplication">
                                    <input type="hidden" value="closed" name="newstatus">
                                    <button type="submit" class="btn lb-btn-red" id="submitdeleteapplication"><i class="mdi mdi-delete"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <p class="h5">{{application.website_application_info}}</p>
                            </div>
                            <span style="white-space: pre-line">
                                <p>{{application.content}}</p>
                            </span>
                            {{#if vote}}
                            <div class="btn-group" role="group" aria-label="Status">
                                <form name="submitnewvote">
                                    <input type="hidden"  value="true" name="newvote">
                                    <button type="submit" class="btn lb-btn-green mr-2" id="submitnewvote"><i
                                            class="mdi mdi-thumb-up"></i> <span id="yeslength">{{yeslength}}</span></button>
                                </form>
                                <form name="submitnewvote2">
                                    <input type="hidden" value="false" name="newvote">
                                    <button type="submit" class="btn lb-btn-red" id="submitnewvote2"><i
                                            class="mdi mdi-thumb-down"></i> <span id="nolength">{{nolength}}</span></button>
                                </form>
                            </div>
                            {{else}}
                            <div class="btn-group" role="group" aria-label="Status">
                                    <button type="submit" disabled class="btn lb-btn-green" value="true" name="newvote"><i
                                            class="mdi mdi-thumb-up"></i> {{yeslength}}</button>
                                    <button type="submit" disabled class="btn lb-btn-red" value="false" name="newvote"><i
                                            class="mdi mdi-thumb-down"></i> {{nolength}}</button>
                            </div>
                            {{/if}}
                            <script>
                                var guildid = '{{guilds.id}}';
                            </script>
                            {{> customforms/application-single-dashboard}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>