<main>
    <section id="policy" class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <h1>Ban Appeal</h1>
                    <p>Here you can write a ban/blacklist appeal<br>
                        <span class="text-danger">*</span> Required</p>
                    <form action="/banappeal/submitnewappeal" method="post">
                        <div class="form-group">
                            <label for="discordTag">Discord Tag <span class="text-danger">*</span></label>
                            {{#if user.username}}
                            <input type="text" class="form-control col-md-3" id="discordTag" name="discordTag"
                                aria-describedby="discordTagHelp" required disabled value="{{user.username}}#{{user.discriminator}}">
                            {{else}}
                            <input type="text" class="form-control col-md-3" id="discordTag" name="discordTag"
                                aria-describedby="discordTagHelp" placeholder="Tester#0001" required>
                            {{/if}}
                            <small id="discordTagHelp" class="form-text text-muted">We need your Discord tag to remove
                                you from the blacklist or to remove your server from the list of bans.</small>
                        </div>
                        <div class="form-group">
                            <label for="discordUserID">Discord UserID <span class="text-danger">*</span></label>
                            {{#if user.id}}
                            <input type="text" class="form-control col-md-3" id="discordUserID" name="discordUserID"
                                aria-describedby="discordUserIDHelp" disabled value="{{user.id}}">
                            {{else}}
                            <input type="text" class="form-control col-md-3" id="discordUserID" name="discordUserID"
                                aria-describedby="discordUserIDHelp" required placeholder="Enter your discord userID">
                            {{/if}}
                            <small id="discordUserIDHelp" class="form-text text-muted">You can get your USERID by
                                entering \@YOURNAME in the chat. Copy this ID from the chat.</small>
                        </div>
                        <div class="form-group">
                            <label for="unbanReason">Why should we unban you or your server? <span class="text-danger">*</span></label>
                            <textarea type="text" class="form-control col-md-6" id="unbanReason" name="unbanReason"
                                aria-describedby="unbanReasonHelp" required placeholder="Explain us..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="radio">Were you set to the blacklist or were your server banned? <span class="text-danger">*</span></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="blacklistOrServerRadio" id="blacklistOrServerRadio1"
                                    value="0" required>
                                <label class="form-check-label" for="blacklistOrServerRadio1">
                                    I am on the blacklist
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="blacklistOrServerRadio" id="blacklistOrServerRadio2"
                                    value="1">
                                <label class="form-check-label" for="blacklistOrServerRadio2">
                                    My server got banned
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="blacklistOrServerRadio" id="blacklistOrServerRadio3"
                                    value="2">
                                <label class="form-check-label" for="blacklistOrServerRadio3">
                                    Both
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="serverSelect">
                                <label for="server">Select server <span class="text-danger">*</span></label>
                                <select class="form-control col-md-3" name="server" id="server">
                                    <option value="0" selected disabled>Server...</option>
                                    {{#if user.username}}
                                    {{#each islenoxbot}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                    {{/if}}
                                    </select>
                        </div>
                        <button type="submit" class="btn lb-btn-green">Send</button>
                    </form>
                    <script>
                        $('#serverSelect').hide()
                        $('input[name="blacklistOrServerRadio"').click(function () {
                            if (this.value != 0) $('#serverSelect').show()
                            else $('#serverSelect').hide()
                        })
                    </script>
                </div>
            </div>
        </div>
    </section>
</main>