<link rel="stylesheet" type="text/css" href="../../styles/style.css" />
<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome/css/font-awesome.min.css"/>
<script src='../../script/dashboardlogs.js'></script>
<header id="header">
    <nav class="navbar" role="navigation">
        <div class="logo navbar-brand">
            <span class="navbar-toggler-icon">
                <img class="d-inline-block align-top" src="https://i.imgur.com/MINCK5a.png" height="30" width="30" alt="">
            </span>
            <p class="text text-size-big text-white navbar-toggler" style="float:right;">LenoxBot</p>
        </div>
        <ul class="nav navbar-nav" id="navbar-header">
            <li class="nav-item">
                <a href="../../home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li class="nav-item">
                <a href="../../documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li class="nav-item">
                <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Blog
                    <span class="label label-info">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Invite LenoxBot</a>
            </li>
            <li class="nav-item">
                <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Discord Server</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                <a href="../../servers" class="text text-size-normal text-white navbar-button" id="active">Dashboard
                    <span class="label label-danger">ALPHA</span>
                </a>
                {{/if}}
            </li>
        </ul>
        		<div class="navbar" id="loginbutton">
        {{#if user}}
        <a href="../../logout" class="text text-size-normal navbar-button" style="color: black;">Log out</a>
        {{ else }}
        <a href="../../login" class="text text-size-normal navbar-button" style="color: black;">Log in</a>
        {{/if}}
    </div>
    </nav>
    </div>
</header>

<main>
    {{#if submitlogs}}
    <div class="alert alert-success alert-dismissible alert-savedsettings" id="success-alert" style="width: 500px; float:right;">
        <button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">&times;</button>
        <span class="text"></span>
        <strong>New Logging settings saved!</strong>
        <hr class="message-inner-separator">
        <p>
            We saved your new Logging settings for {{guilds.name}}</p>
    </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text text-white text-size-caption" id="guildsname-dashboard">
                    <h1 class="guildsname-dashboard">{{guilds.name}}</h1>
                </div>
                <div class="btn-group-vertical btn-group buttongroup-dashboard">
					<a href="/dashboard/{{guilds.id}}/overview" class="btn btn-primary text-size-normal button-dashboard" role="button">Overview</a>
					<a href="/dashboard/{{guilds.id}}/generalsettings" class="btn btn-primary text-size-normal button-dashboard" role="button">General Settings</a>
					<a href="/dashboard/{{guilds.id}}/logs" class="btn btn-primary text-size-normal button-dashboard active" role="button">Logssettings</a>
					<a href="/dashboard/{{guilds.id}}/modules" class="btn btn-primary text-size-normal button-dashboard" role="button">Modules</a>
                    <a href="/dashboard/{{guilds.id}}/chatfilter" class="btn btn-primary text-size-normal button-dashboard" role="button">Chatfilter</a>
					<a href="/dashboard/{{guilds.id}}/music" class="btn btn-primary text-size-normal button-dashboard" role="button">Music</a>
                    <a href="/dashboard/{{guilds.id}}/application" class="btn btn-primary text-size-normal button-dashboard" role="button">Application</a>
                    <a href="#" class="btn btn-primary text-size-normal button-dashboard" role="button">Tickets <span class="label label-danger">INCOMING</span></a>
				</div>
            </div>
            <div class="panel-group-dashboard">
                <div class="panel-group">
                    <div class="panel panel-primary panel-dashboard" style="max-height: 200px;">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Modlog</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="modlog">Modlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="modlog">
                                            {{#if confs.modlogset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="modlogchannel">New Modlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="modlogchannel">
                                            {{#each channels}}
                                            {{#if modlogset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Chatfilter</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="chatfilterlog">Chatfilterlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="chatfilterlog">
                                            {{#if confs.chatfilterset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="chatfilterlogchannel">New Chatfilter channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="chatfilterlogchannel">
                                            {{#each channels}}
                                            {{#if chatfilterset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Messagedelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messagedeletelog">Messagedeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="messagedeletelog">
                                            {{#if confs.messagedeleteset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messagedeletelogchannel">New Messagedeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="messagedeletelogchannel">
                                            {{#each channels}}
                                            {{#if messagedeleteset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Messageupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messageupdatelog">Messageupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="messageupdatelog">
                                            {{#if confs.messageupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messageupdatelogchannel">New Messageupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="messageupdatelogchannel">
                                            {{#each channels}}
                                            {{#if messageupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelog">Channelupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="channelupdatelog">
                                            {{#if confs.channelupdatelog}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelogchannel">New Channelupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="channelupdatelogchannel">
                                            {{#each channels}}
                                            {{#if channelupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelcreate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelcreatelog">Channelcreatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="channelcreatelog">
                                            {{#if confs.channelcreatelog}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelcreatelogchannel">New Channelcreatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="channelcreatelogchannel">
                                            {{#each channels}}
                                            {{#if channelcreateset}}
                                            <option>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelog">Channelupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="channelupdatelog">
                                            {{#if confs.channelupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelogchannel">New Channelupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="channelupdatelogchannel">
                                            {{#each channels}}
                                            {{#if channelupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channeldelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channeldeletelog">Channeldeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="channeldeletelog">
                                            {{#if confs.channeldeleteset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channeldeletelogchannel">New Channeldeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="channeldeletelogchannel">
                                            {{#each channels}}
                                            {{#if channeldeleteset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Memberupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="memberupdatelog">Memberupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="memberupdatelog">
                                            {{#if confs.memberupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="memberupdatelogchannel">New Memberupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="memberupdatelogchannel">
                                            {{#each channels}}
                                            {{#if memberupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Presenceupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="presenceupdatelog">Presenceupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="presenceupdatelog">
                                            {{#if confs.presenceupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="presenceupdatelogchannel">New Presenceupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="presenceupdatelogchannel">
                                            {{#each channels}}
                                            {{#if presenceupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Userjoin</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userjoinlog">Userjoinlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="userjoinlog">
                                            {{#if confs.userjoinset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userjoinlogchannel">New Userjoinlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="userjoinlogchannel">
                                            {{#each channels}}
                                            {{#if userjoinset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Userleft</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userleftlog">Userleftlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="userleftlog">
                                            {{#if confs.userleftset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userleftlogchannel">New Userleftlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="userleftlogchannel">
                                            {{#each channels}}
                                            {{#if userleftset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Rolecreate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="rolecreatelog">Rolecreatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="rolecreatelog">
                                            {{#if confs.rolecreateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="rolecreatelogchannel">New Rolecreatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="rolecreatelogchannel">
                                            {{#each channels}}
                                            {{#if rolecreateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Roledelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roledeletelog">Roledeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="roledeletelog">
                                            {{#if confs.roledeleteset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roledeletelogchannel">New Roledeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="roledeletelogchannel">
                                            {{#each channels}}
                                            {{#if roledeleteset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Roleupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roleupdatelog">Roleupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="roleupdatelog">
                                            {{#if confs.roleupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roleupdatelogchannel">New Roleupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="roleupdatelogchannel">
                                            {{#each channels}}
                                            {{#if roleupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Guildupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="guildupdatelog">Guildupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"  data-size="7" name="guildupdatelog">
                                            {{#if confs.guildupdateset}}
                                            <option value="true" selected>Activate</option>
                                            <option value="false">Deactivate</option>
                                            {{else}}
                                            <option value="true">Activate</option>
                                            <option value="false" selected>Deactivate</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="guildupdatelogchannel">New Guildupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" data-live-search="true" data-size="7" name="guildupdatelogchannel">
                                            {{#each channels}}
                                            {{#if guildupdateset}}
                                            <option selected>{{name}}</option>
                                            {{else}}
                                            <option>{{name}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


    <footer>
        <nav class="footer-navigation">
            <p target="blank" class="text text-size-small text-white">&copy; LenoxBot
            </p>
            <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
        </nav>
    </footer>