<title>Dashboard - LenoxBot</title>
<script>
    var currentNavDashId = '#modules';
</script>

<main>
    {{#if submitmodules}}
    {{> notification}}
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">All modules</p>
                        </div>
                        <div class="card-body px-3 py-0">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 my-3">
                                    <div class="card" style="height: 100%;">
                                        <div class="card-body">
                                            <a href="/dashboard/{{guilds.id}}/administration">
                                                <h5 class="card-title">Administration</h5>
                                            </a>
                                            <p class="card-text">Commands to set up the entire Discord server and
                                                customize
                                                special bot features</p>
                                        </div>
                                        <div class="card-footer lb-card-footer pb-3">
                                            <div class="btn-group" role="group" aria-label="Status">
                                                <button type="submit" class="btn lb-btn-green disabled" value="false"
                                                    name="newmodulestatus">
                                                    Always enabled
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {{#each modules}}
                                <div class="col-sm-6 col-lg-4 my-3">
                                    <div class="card" style="height: 100%;">
                                        <div class="card-body">
                                            <a href="/dashboard/{{../guilds.id}}/{{name}}">
                                                <h5 class="card-title">{{name}}</h5>
                                            </a>
                                            <p class="card-text">{{description}}</p>
                                        </div>
                                        <div class="card-footer lb-card-footer pb-3">
                                            {{#if status}}
                                            <div class="btn-group" role="group" aria-label="Status">
                                                <form action="/dashboard/{{../guilds.id}}/modules/submitmodules" method="POST">
                                                    <button type="submit" class="btn lb-btn-red align-text-bottom"
                                                        value="false" name="{{name}}">
                                                        Disable
                                                    </button>
                                                </form>
                                            </div>
                                            {{else}}
                                            <div class="btn-group" role="group" aria-label="Status">
                                                <form action="/dashboard/{{../guilds.id}}/modules/submitmodules" method="POST">
                                                    <button type="submit" class="btn lb-btn-green" value="true" name="{{name}}">
                                                        Enable
                                                    </button>
                                                </form>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>