<title>Dashboard - LenoxBot</title>
<script>
    var currentNavDashId = '#application';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <a href="/dashboard/{{guilds.id}}/applications" class="btn lb-btn-green btn-lg">Show all
                        applications</a>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Application</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitapplication">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newapplication">Toggle Application</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newapplication" data-actions-box="true" data-size="7">
                                            <option value="true">Activate the application system</option>
                                            <option value="false">Deactivate the application system</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitapplication">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Reactionnumber (Needed reactions to accept or reject an
                                application)</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" name="submitreactionnumber">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newreactionnumber">New reactionnumber:</label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" min="1" name="newreactionnumber"
                                            pattern=".{1,}" required value="{{guilds.reactionnumber}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10" style="margin-top: 20px;">
                                        <button type="submit" class="btn lb-btn-green" id="submitreactionnumber">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Role for accepted canidates</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitrole">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newrole">Select a role:</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newrole" data-live-search="true" title="Choose role" data-actions-box="true"
                                            data-size="7">
                                            <option value="false">No role!</option>
                                            {{#each roles}} {{#if roleset}}
                                            <option value="{{id}}" selected>#{{name}}</option>
                                            {{else}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/if}} {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitrole">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Role for rejected canidates</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitdenyrole">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newdenyrole">Select a role:</label>
                                    <div class="col-lg-6">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="newdenyrole" data-live-search="true" title="Choose role"
                                            data-actions-box="true" data-size="7">
                                            <option value="false">No role!</option>
                                            {{#each roles}} {{#if denyroleset}}
                                            <option value="{{id}}" selected>#{{name}}</option>
                                            {{else}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/if}} {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitdenyrole">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Message for accepted applicants</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitnewacceptedmsg">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newacceptedmsg">New message:</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" name="newacceptedmsg" rows="3">{{guilds.acceptedmessage}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitnewacceptedmsg">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        <div class="card-header">
                            <h5>Message for rejected applicants</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="submitnewrejectedmsg">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" for="newrejectedmsg">New message:</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" name="newrejectedmsg" rows="3">{{guilds.rejectedmessage}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green" id="submitnewrejectedmsg">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mt-3 shadow-sm">
                        {{> commandsection}}
                        {{> customforms/application}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>