<link rel="stylesheet" type="text/css" href="../../styles/style.css" />
<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome/css/font-awesome.min.css"/>
<script src='../../script/dashboardlogs.js'></script>
<header id="header">
    <div class="logo">
        <img src="../../lenoxbot.png" height="70" width="70" id="logoimg">
        <p class="text text-size-big text-white" id="logo">LenoxBot</p>
    </div>
    <nav class="navbar">
        <ul>
            <li>
                <a href="../../home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li>
                <a href="../../documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li>
                <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button">Blog
                    <span class="label label-info">NEW</span>
                </a>
            </li>
            <li>
                <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Invite LenoxBot</a>
            </li>
            <li>
                <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Discord Server</a>
            </li>
            <li>
                {{#if user}}
                <a href="../../servers" class="text text-size-normal text-white navbar-button" id="active">Dashboard
                    <span class="label label-danger">ALPHA</span>
                </a>
                {{/if}}
            </li>
        </ul>
    </nav>
    <div class="navbar" id="loginbutton">
        {{#if user}}
        <a href="../../logout" class="text text-size-normal text-white navbar-button">Log out</a>
        {{ else }}
        <a href="../../login" class="text text-size-normal text-white navbar-button">Log in</a>
        {{/if}}
    </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text text-white text-size-caption" id="guildsname-dashboard">
                    <h1 style="width: 500%;">{{guilds.name}}</h1>
                </div>
                <div class="btn-group-vertical btn-group buttongroup-dashboard">
					<a href="/dashboard/{{guilds.id}}/overview" class="btn btn-primary text-size-normal button-dashboard" role="button">Overview</a>
					<a href="/dashboard/{{guilds.id}}/generalsettings" class="btn btn-primary text-size-normal button-dashboard" role="button">General Settings</a>
					<a href="/dashboard/{{guilds.id}}/logs" class="btn btn-primary text-size-normal button-dashboard" role="button">Logsettings</a>
					<a href="/dashboard/{{guilds.id}}/modules" class="btn btn-primary text-size-normal button-dashboard active" role="button">Modules</a>
				</div>
            </div>
            <div class="panel-group-dashboard">
                {{#if submitlogs}}
                <div class="alert alert-success alert-dismissible" id="success-alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Saved settings!</strong> We saved your settings on your discord server!
                </div>
                {{/if}}
                <div class="panel-group">
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Modlog</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="modlog">Modlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="modlog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="modlogchannel">New Modlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="modlogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Chatfilter</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="chatfilterlog">Chatfilterlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="chatfilterlog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="chatfilterlogchannel">New Modlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="chatfilterlogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Messagedelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messagedeletelog">Messagedeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="messagedeletelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messagedeletelogchannel">New Messagedeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="messagedeletelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Messageupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messageupdatelog">Messageupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="messageupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="messageupdatelogchannel">New Modlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="messageupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelog">Channelupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelogchannel">New Channelupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelcreate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelcreatelog">Channelcreatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelcreatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelcreatelogchannel">New Channelcreatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelcreatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channelupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelog">Channelupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channelupdatelogchannel">New Channelupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channelupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Channeldelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channeldeletelog">Channeldeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channeldeletelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="channeldeletelogchannel">New Channeldeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="channeldeletelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Memberupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="memberupdatelog">Memberupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="memberupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="memberupdatelogchannel">New Memberupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="memberupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Presenceupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="presenceupdatelog">Presenceupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="presenceupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="presenceupdatelogchannel">New Presenceupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="presenceupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Userjoin</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userjoinlog">Userjoinlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="userjoinlog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userjoinlogchannel">New Userjoinlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="userjoinlogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Userleft</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userleftlog">Userleftlog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="userleftlog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="userleftlogchannel">New Userleftlog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="userleftlogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Rolecreate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="rolecreatelog">Rolecreatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="rolecreatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="rolecreatelogchannel">New Rolecreatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="rolecreatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Roledelete</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roledeletelog">Roledeletelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="roledeletelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roledeletelogchannel">New Roledeletelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="roledeletelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Roleupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roleupdatelog">Roleupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="roleupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="roleupdatelogchannel">New Roleupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="roleupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Guildupdate</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" id="newmodlog-form" action="/dashboard/{{guilds.id}}/logs/submitlogs" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="guildupdatelog">Guildupdatelog Status:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="guildupdatelog">
                                            <option value="true">Activate</option>
                                            <option value="false">Deactivate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="guildupdatelogchannel">New Guildupdatelog channel:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="guildupdatelogchannel">
                                            {{#each channels}}
                                            <option>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>
    <nav class="footer-navigation">
        <a target="blank" class="text text-size-small text-white" href="http://lenoxbot.com">&copy; LenoxBot
        </a>
        <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </nav>
</footer>