<link rel="stylesheet" type="text/css" href="../../styles/style.css" />
<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome/css/font-awesome.min.css" />
<script src='../../script/alerts.js'></script>
<title>Dashboard - LenoxBot</title>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="https://lenoxbot.com" class="navbar-brand text">LenoxBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="mainnavbar">
                <li class="nav-item">
                    <a href="/home" class="h5 nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/documentation" class=" h5 nav-link">Documentation</a>
                </li>
                <li class="nav-item">
                    <a href="/donate" class=" h5 nav-link">Donate  <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a href="https://medium.com/lenoxbot" target="blanc" class=" h5 nav-link">Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://lenoxbot.com/invite" target="blanc" class=" h5 nav-link">Invite LenoxBot</a>
                </li>
                <li class="nav-item">
                    <a href="https://lenoxbot.com/discord" target="blanc" class=" h5 nav-link">Discord Server</a>
                </li>
                <li class="nav-item active">
                    {{#if user}}
                    <a href="/servers" class=" h5 nav-link">Dashboard
                        
                    </a>
                    {{/if}}
                </li>
            </ul>
            <ul class="navbar-nav navbar-right" id="mainnavbar">
                <li class="nav-item">
                    {{#if user}}
                    <a href="/logout" class=" h5 nav-link ">Log out</a>
                    {{ else }}
                    <a href="/loginpressedbutton" class=" h5 nav-link ">Log in</a>
                    {{/if}}
                </li>
                <li class="avatarnavigation">
                    {{#if user}}
                    <a href="https://lenoxbot.com/servers">
                        <img class="img-fluid rounded profilepic-navbar nav-link img-thumbnail" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg"
                            height="30" width="50">
                    </a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
    </div>
</header>

<main>
    {{#if submitmusic}}
    <div class="alert alert-success alert-dismissible alert-savedsettings" id="success-alert" style="float:right;">
        <button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">&times;</button>
        <span class="text"></span>
        <strong>New music settings saved!</strong>
        <hr class="message-inner-separator">
        <p>
            We saved your new music settings for {{guilds.name}}</p>
    </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p class="text text-white h3" style="text-align: center;" id="guildsname-dashboard">{{guilds.name}}</p>
                <nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="dashboardnav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardnavigationbar" aria-controls="dashboardnavigationbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="dashboardnavigationbar">
                        <ul class="navbar-nav mr-auto flex-md-column" id="mainnavbar">
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/overview" class=" h5 nav-link" role="button">
                                    <i class="far fa-eye"></i> Overview</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/modules" class=" h5 nav-link" role="button">
                                    <i class="fas fa-folder-open"></i> Modules</a>
                            </li>
                            <li>
                                <hr id="hr-dashboard-navbar" style="border: white; padding: 0; margin: 0;">
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/administration" class=" h5 nav-link" role="button">
                                    <i class="fas fa-wrench"></i> Administration</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/moderation" class=" h5 nav-link" role="button">
                                    <i class="fas fa-user-shield"></i> Moderation</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/help" class=" h5 nav-link" role="button">
                                    <i class="fas fa-question-circle"></i> Help</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/music" class=" h5 nav-link active" role="button">
                                    <i class="fas fa-music"></i> Music</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/fun" class=" h5 nav-link" role="button">
                                    <i class="fas fa-paper-plane"></i> Fun</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/searches" class=" h5 nav-link" role="button">
                                    <i class="fas fa-search"></i> Searches</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/nsfw" class=" h5 nav-link" role="button">
                                    <i class="fas fa-exclamation-triangle"></i> NSFW</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/utility" class=" h5 nav-link" role="button">
                                    <i class="fas fa-warehouse"></i> Utility</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/application" class=" h5 nav-link" role="button">
                                    <i class="fab fa-wpforms"></i> Application</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/currency" class=" h5 nav-link" role="button">
                                    <i class="fas fa-money-bill-alt"></i> Currency</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="/dashboard/{{guilds.id}}/tickets" class=" h5 nav-link" role="button">
                                    <i class="fas fa-envelope-square"></i> Tickets</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a href="#" class="h5 nav-link" role="button">
                                    <i class="fas fa-list-ul"></i> Custom Commands
                                    <span class="badge badge-warning">Incoming!</span>
                                </a>
                            </li>
                        </ul>
                </nav>
                </div>
                <div class="col-sm-9">
                    <div class="panel-group-dashboard">
                        {{#if musiccurrentlyplaying}}
                        <div class="card border-dark panel-dashboard">
                            <div class="card-header bg-primary">
                                <p class="text text-white h5">Music Menu</p>
                            </div>
                            <div class="card-body">
                                <p>Currently playing:
                                    <strong>{{song}}</strong>
                                </p>
                                <div class="btn-group" role="group" aria-label="musicinteraction">
                                    <form action="/dashboard/{{guilds.id}}/music/submitnewmusicaction" method="POST" style="margin-right: 10px;">
                                        <button type="submit" class="btn btn-success" value="play" name="newmusicaction">
                                            <i class="fas fa-play"></i>
                                            <i class="fas fa-pause"></i>
                                        </button>
                                    </form>
                                    <form action="/dashboard/{{guilds.id}}/music/submitnewmusicaction" method="POST" style="margin-right: 10px;">
                                        <button type="submit" class="btn btn-danger" value="stop" name="newmusicaction">
                                            <i class="fas fa-stop"></i>
                                        </button>
                                    </form>
                                    <form action="/dashboard/{{guilds.id}}/music/submitnewmusicaction" method="POST" style="margin-right: 10px;">
                                        <button type="submit" class="btn btn-info" value="skip" name="newmusicaction">
                                            <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        <div class="card border-dark panel-dashboard">
                            <div class="card-header bg-primary">
                                <p class="text text-white h5">Music Channelblacklist</p>
                            </div>
                            <div class="card-body">
                                <form class="form-vertical" action="/dashboard/{{guilds.id}}/music/submitchannelblacklist" method="POST">
                                    <div class="form-group">
                                        <label class="control-label col-sm" for="newchannelblacklist">Set channels where LenoxBot doesn't play music:</label>
                                        <div class="col-sm-4">
                                            <select required class="form-control custom-select custom-select-lg mb-3 selectpicker" name="newchannelblacklist" data-live-search="true"
                                                multiple title="Choose voicechannel(s)" data-actions-box="true" data-size="7">
                                                {{#each voicechannels}} {{#if channelblacklistset}}
                                                <option value="{{name}}" selected>{{name}}</option>
                                                {{else}}
                                                <option value="{{name}}">{{name}}</option>
                                                {{/if}} {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card border-dark panel-dashboard">
                            <div class="card-header bg-primary">
                                <p class="text text-white h5">Commands</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" style="width: 100%;">
                                        <tbody>
                                            {{#each commands}}
                                            <tr>
                                                <td>
                                                    <div class="col-sm-8">
                                                        <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                            <strong>{{help.name}}</strong>
                                                        </h5>
                                                        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; margin: 0; padding: 0;">{{help.description}}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{help.name}}" style="margin-right: 8px;">
                                                            Edit
                                                        </button>
                                                        <div class="modal fade" id="{{help.name}}" tabindex="-1" role="dialog" aria-labelledby="{{help.name}}Title" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">Settings of {{help.name}} command</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <form class="form-inline" action="/dashboard/{{../guilds.id}}/music/{{help.name}}/submitcommandchange" method="POST">
                                                                        <div class="modal-body">
                                                                            <div class="form-group mb-2">
                                                                                <label for="newblacklistedchannels">Blacklisted channels:</label>
                                                                            </div>
                                                                            <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                                <select class="selectpicker" name="newblacklistedchannels" data-live-search="true" multiple title="Choose channel(s)" data-actions-box="true"
                                                                                    data-size="7">
                                                                                    {{#each ../channels}} {{#inArray ../bannedchannels id}}
                                                                                    <option value="{{id}}" selected>#{{name}}</option>
                                                                                    {{else}}
                                                                                    <option value="{{id}}">#{{name}}</option>
                                                                                    {{/inArray}} {{/each}}
                                                                                </select>
                                                                            </div>
                                                                            <hr>
                                                                            <div class="form-group mb-2">
                                                                                <label for="newblacklistedroles">Blacklisted roles:</label>
                                                                            </div>
                                                                            <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                                <select class="selectpicker" name="newblacklistedroles" data-live-search="true" multiple title="Choose roles(s)" data-actions-box="true"
                                                                                    data-size="7">
                                                                                    {{#each ../roles}} {{#inArray ../bannedroles id}}
                                                                                    <option value="{{id}}" selected>@{{name}}</option>
                                                                                    {{else}}
                                                                                    <option value="{{id}}">@{{name}}</option>
                                                                                    {{/inArray}} {{/each}}
                                                                                </select>
                                                                            </div>
                                                                            <hr>
                                                                            <div class="form-group mb-2">
                                                                                <label for="newcooldown">Cooldown (in seconds):</label>
                                                                            </div>
                                                                            <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                                <input type="number" min="3" max="600" class="form-control" name="newcooldown" required value="{{cooldown}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {{#if conf.enabled}}
                                                        <form action="/dashboard/{{../guilds.id}}/music/{{help.name}}/submitcommandstatuschange" method="POST">
                                                            <button type="submit" class="btn btn-danger" value="false" name="statuschange">
                                                                Disable
                                                            </button>
                                                        </form>
                                                        {{else}}
                                                        <form action="/dashboard/{{../guilds.id}}/music/{{help.name}}/submitcommandstatuschange" method="POST">
                                                            <button type="submit" class="btn btn-success" value="true" name="statuschange">
                                                                Enable
                                                            </button>
                                                        </form>
                                                        {{/if}}
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
