<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
<title>Dashboard - LenoxBot</title>
<script>
    var currentNavDashId = '#utility';
</script>

<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">Send an embed</p>
                        </div>
                        <div class="card-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/utility/submitsendembed"
                                method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm" for="sendembedchannel">Select a textchannel in
                                        which to send the embed:</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3 selectpicker"
                                            name="sendembedchannel" data-live-search="true" title="Choose channel"
                                            data-actions-box="true" data-size="7">
                                            {{#each channels}}
                                            <option value="{{id}}">#{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedtitle">Title:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="embedtitle" required
                                                placeholder="Title for your embed..." maxlength="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedlink">Link:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="url" class="form-control" name="embedlink" placeholder="https://example.com"
                                                pattern="https://.*">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedcolor">Color:</label>
                                    <div class="col-sm-4">
                                        <div id="colorpicker" class="input-group colorpicker-component">
                                            <input required type="text" class="form-control input-lg" value="#bd0c0c"
                                                name="embedcolor">
                                            <span class="input-group-append">
                                                <span class="input-group-text input-group-addon">
                                                    <i></i>
                                                </span>
                                            </span>
                                        </div>
                                        <script>
                                            $(function () {
                                                $('#colorpicker').colorpicker({
                                                    format: "hex"
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedthumbnail">Thumbnail URL:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="link" class="form-control" name="embedthumbnail" placeholder="https://imgur.com/27A.png"
                                                pattern="(https?:\/\/.*\.(?:png|jpg))">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embeddescription">Description:</label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" name="embeddescription" rows="5" placeholder="Description for your embed..."
                                            maxlength="1000"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm" for="embedfooter">Footer:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="embedfooter" placeholder="Footer for your embed..."
                                                maxlength="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <input type="checkbox" name="embedtimestamp" class="form-check-input">
                                            <label class="form-check-label" for="embedtimestamp">Timestamp</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button type="submit" class="btn lb-btn-green">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        <div class="card-header">
                            <p class="h5">Commands</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        {{#each commands}}
                                        <tr>
                                            <td>
                                                <div class="col-sm-8">
                                                    <h6>{{help.name}}</h6>
                                                    <p class="text-muted">{{help.description}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                </button>
                                                <div class="modal fade" id="{{help.name}}" tabindex="-1" role="dialog"
                                                    aria-labelledby="{{help.name}}Title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Settings
                                                                    of {{help.name}} command</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <form class="form-inline" action="/dashboard/{{../guilds.id}}/utility/{{help.name}}/submitcommandchange"
                                                                method="POST">
                                                                <div class="modal-body">
                                                                    <div class="form-group mb-2">
                                                                        <label for="newblacklistedchannels">Blacklisted
                                                                            channels:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newblacklistedchannels"
                                                                            data-live-search="true" multiple title="Choose channel(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../channels}} {{#inArray
                                                                            ../bannedchannels id}}
                                                                            <option value="{{id}}" selected>#{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">#{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newwhitelistedroles">Whitelisted
                                                                            roles:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newwhitelistedroles"
                                                                            data-live-search="true" multiple title="Choose roles(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../roles}} {{#inArray
                                                                            ../whitelistedroles id}}
                                                                            <option value="{{id}}" selected>@{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">@{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newblacklistedroles">Blacklisted
                                                                            roles:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newblacklistedroles"
                                                                            data-live-search="true" multiple title="Choose roles(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../roles}} {{#inArray
                                                                            ../bannedroles id}}
                                                                            <option value="{{id}}" selected>@{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">@{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newcooldown">Cooldown (in
                                                                            seconds):</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <input type="number" min="3" max="600" class="form-control"
                                                                            name="newcooldown" required value="{{cooldown}}">
                                                                    </div>
                                                                    <hr>
                                                                    <button type="submit" class="btn lb-btn-green">Save
                                                                        changes</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-group float-right" role="group">
                                                    <button type="button" class="btn lb-btn-blue" data-toggle="modal"
                                                        data-target="#{{help.name}}">
                                                        Edit
                                                    </button>
                                                    {{#if conf.enabled}}
                                                    <form id="{{help.name}}form">
                                                        <input type="hidden" value="false" name="statuschange" id="{{help.name}}status">
                                                    </form>
                                                    <button type="submit" class="btn lb-btn-red" id="{{help.name}}b">
                                                        Disable
                                                    </button>
                                                    {{else}}
                                                    <form id="{{help.name}}form">
                                                        <input type="hidden" value="true" name="statuschange" id="{{help.name}}status">
                                                    </form>
                                                    <button type="submit" class="btn lb-btn-green" id="{{help.name}}b">
                                                        Enable
                                                    </button>
                                                    {{/if}}
                                                </div>
                                                <script>
                                                    var guildid = '{{../guilds.id}}';
                                                </script>
                                                {{> ajaxscript}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>