<title>Dashboard - LenoxBot</title>
<script>
    var currentNavDashId = '#ccommands';
</script>

<main>
    {{#if submitcustomcommands}}
    {{> notification}}
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-sm-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="h5">All custom commands</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        {{#if isCustomCommands}} {{#each customcommands}}
                                        <tr>
                                            <td>
                                                <div class="col-sm-8">
                                                    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                        <strong>{{name}}</strong>
                                                    </h5>
                                                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; margin: 0; padding: 0;">{{description}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" style="float:right;">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#{{name}}" style="margin-right: 8px;">
                                                        Edit
                                                    </button>
                                                    <div class="modal fade" id="{{name}}" tabindex="-1" role="dialog"
                                                        aria-labelledby="{{name}}Title" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">Settings
                                                                        of {{name}} command</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>

                                                                <form class="form-inline" action="/dashboard/{{../guilds.id}}/customcommands/customcommand/{{name}}/submitcommandchange"
                                                                    method="POST">
                                                                    <div class="modal-body">
                                                                        <p>Created by
                                                                            <strong>{{newcreator}}</strong> on
                                                                            <strong>{{newcommandCreatedAt}}</strong>
                                                                        </p>
                                                                        <hr>
                                                                        <div class="form-group mb-2">
                                                                            <label for="newdescription">Description of
                                                                                the custom command:</label>
                                                                        </div>
                                                                        <div class="form-group mx-sm-3 mb-2 col-sm-12">
                                                                            <textarea class="form-control" name="newdescription"
                                                                                rows="2" maxlength="60">{{description}}</textarea>
                                                                        </div>
                                                                        <div class="form-group mb-2">
                                                                            <label for="newcommandanswer">Response of
                                                                                the custom command:</label>
                                                                        </div>
                                                                        <div class="form-group mx-sm-3 mb-2 col-sm-12">
                                                                            <textarea required class="form-control"
                                                                                name="newcommandanswer" rows="2"
                                                                                maxlength="2000">{{commandanswer}}</textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">Save
                                                                            changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{#if newstatus}}
                                                    <form action="/dashboard/{{../guilds.id}}/customcommands/customcommand/{{name}}/submitcommandstatuschange"
                                                        method="POST" style="margin-right: 8px;">
                                                        <button type="submit" class="btn btn-danger" value="false" name="statuschange">
                                                            Disable
                                                        </button>
                                                    </form>
                                                    {{else}}
                                                    <form action="/dashboard/{{../guilds.id}}/customcommands/customcommand/{{name}}/submitcommandstatuschange"
                                                        method="POST" style="margin-right: 8px;">
                                                        <button type="submit" class="btn btn-success" value="true" name="statuschange">
                                                            Enable
                                                        </button>
                                                    </form>
                                                    {{/if}}
                                                    <form action="/dashboard/{{../guilds.id}}/customcommands/customcommand/{{name}}/submitdeletecommand"
                                                        method="POST">
                                                        <button type="submit" class="btn btn-danger">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <p>No custom commands have been created!</p>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm mt-3">
                        <div class="card-header">
                            <p class="h5">Commands</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" style="width: 100%;">
                                    <tbody>
                                        {{#each commands}}
                                        <tr>
                                            <td>
                                                <div class="col-sm-8">
                                                    <h6>{{help.name}}</h6>
                                                    <p class="text-muted">{{help.description}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="modal fade" id="{{help.name}}" tabindex="-1" role="dialog"
                                                    aria-labelledby="{{help.name}}Title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Settings
                                                                    of {{help.name}} command</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <form class="form-inline" action="/dashboard/{{../guilds.id}}/customcommands/{{help.name}}/submitcommandchange"
                                                                method="POST">
                                                                <div class="modal-body">
                                                                    <div class="form-group mb-2">
                                                                        <label for="newblacklistedchannels">Blacklisted
                                                                            channels:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newblacklistedchannels"
                                                                            data-live-search="true" multiple title="Choose channel(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../channels}} {{#inArray
                                                                            ../bannedchannels id}}
                                                                            <option value="{{id}}" selected>#{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">#{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newwhitelistedroles">Whitelisted
                                                                            roles:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newwhitelistedroles"
                                                                            data-live-search="true" multiple title="Choose roles(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../roles}} {{#inArray
                                                                            ../whitelistedroles id}}
                                                                            <option value="{{id}}" selected>@{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">@{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newblacklistedroles">Blacklisted
                                                                            roles:</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <select class="selectpicker" name="newblacklistedroles"
                                                                            data-live-search="true" multiple title="Choose roles(s)"
                                                                            data-actions-box="true" data-size="7">
                                                                            {{#each ../roles}} {{#inArray
                                                                            ../bannedroles id}}
                                                                            <option value="{{id}}" selected>@{{name}}</option>
                                                                            {{else}}
                                                                            <option value="{{id}}">@{{name}}</option>
                                                                            {{/inArray}} {{/each}}
                                                                        </select>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form-group mb-2">
                                                                        <label for="newcooldown">Cooldown (in seconds):</label>
                                                                    </div>
                                                                    <div class="form-group mx-sm-3 mb-2 col-sm-6">
                                                                        <input type="number" min="3" max="600" class="form-control"
                                                                            name="newcooldown" required value="{{cooldown}}">
                                                                    </div>
                                                                    <hr>
                                                                    <button type="submit" class="btn lb-btn-green">Save
                                                                        changes</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-group float-right" role="group">
                                                    <button type="button" class="btn lb-btn-blue" data-toggle="modal"
                                                        data-target="#{{help.name}}">
                                                        Edit
                                                    </button>
                                                    {{#if conf.enabled}}
                                                    <form action="/dashboard/{{../guilds.id}}/customcommands/{{help.name}}/submitcommandstatuschange"
                                                        method="POST" id="{{help.name}}form">
                                                        <input type="hidden" value="false" name="statuschange">
                                                    </form>
                                                    <button type="submit" class="btn lb-btn-red" id="{{help.name}}b">
                                                        Disable
                                                    </button>
                                                    {{else}}
                                                    <form action="/dashboard/{{../guilds.id}}/customcommands/{{help.name}}/submitcommandstatuschange"
                                                        method="POST" id="{{help.name}}form">
                                                        <input type="hidden" value="true" name="statuschange">
                                                    </form>
                                                    <button type="submit" class="btn lb-btn-green" id="{{help.name}}b">
                                                        Enable
                                                    </button>
                                                    {{/if}}
                                                </div>
                                                <script>
                                                    $("#{{help.name}}b").click(function () {
                                                        $("#{{help.name}}form").submit();
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>