<link rel="stylesheet" type="text/css" href="../../styles/style.css" />
<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome/css/font-awesome.min.css"/>
<script src='../../script/dashboardlogs.js'></script>
<header id="header">
    <nav class="navbar" role="navigation">
        <div class="logo navbar-brand">
            <span class="navbar-toggler-icon">
                <img class="d-inline-block align-top" src="https://i.imgur.com/MINCK5a.png" height="30" width="30" alt="">
            </span>
            <p class="text text-size-big text-white navbar-toggler" style="float:right;">LenoxBot</p>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav" id="navbar-header">
            <li class="nav-item">
                <a href="../../home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li class="nav-item">
                <a href="../../documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li class="nav-item">
                <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Blog
                    <span class="label label-info">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Invite LenoxBot</a>
            </li>
            <li class="nav-item">
                <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Discord Server</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                <a href="../../servers" class="text text-size-normal text-white navbar-button" id="active">Dashboard
                    <span class="label label-danger">ALPHA</span>
                </a>
                {{/if}}
            </li>
        </ul>
        </div>
    </nav>
    <div class="navbar" id="loginbutton">
        {{#if user}}
        <a href="../../logout" class="text text-size-normal navbar-button" style="color: black;">Log out</a>
        {{ else }}
        <a href="../../login" class="text text-size-normal navbar-button" style="color: black;">Log in</a>
        {{/if}}
    </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text text-white text-size-caption" id="guildsname-dashboard">
                    <h1 class="guildsname-dashboard">{{guilds.name}}</h1>
                </div>
                <div class="btn-group-vertical btn-group buttongroup-dashboard">
					<a href="/dashboard/{{guilds.id}}/overview" class="btn btn-primary text-size-normal button-dashboard" role="button">Overview</a>
					<a href="/dashboard/{{guilds.id}}/generalsettings" class="btn btn-primary text-size-normal button-dashboard" role="button">General Settings</a>
					<a href="/dashboard/{{guilds.id}}/logs" class="btn btn-primary text-size-normal button-dashboard" role="button">Logssettings</a>
					<a href="/dashboard/{{guilds.id}}/modules" class="btn btn-primary text-size-normal button-dashboard active" role="button">Modules</a>
                    <a href="#" class="btn btn-primary text-size-normal button-dashboard" role="button">Tickets <span class="label label-danger">INCOMING</span></a>
				</div>
            </div>
            <div class="panel-group-dashboard">
                {{#if submitmodules}}
                <div class="alert alert-success alert-dismissible" id="success-alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Saved settings!</strong> We saved your settings on your discord server!
                </div>
                {{/if}}
                <div class="panel-group">
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Moderation</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="moderation">Moderation module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="moderation">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Help</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="help">Help module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="help">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Music</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="music">Music module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="music">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Fun</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="fun">Fun module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="fun">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Searches</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="searches">Searches module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="searches">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">NSFW</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="nsfw">NSFW module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="nsfw">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Utility</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="utility">Utility module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="utility">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Application</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="application">Application module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="application">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-dashboard">
                        <div class="panel-heading">
                            <p class="text text-white text-size-big">Currency</p>
                        </div>
                        <div class="panel-body">
                            <form class="form-vertical" action="/dashboard/{{guilds.id}}/modules/submitmodules" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="currency">Currency module: </label>
                                    <div class="col-sm-4">
                                        <select required class="form-control custom-select custom-select-lg mb-3" name="currency">
                                            <option value="true">Activate this module</option>
                                            <option value="false">Deactivate this module</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>
    <nav class="footer-navigation">
        <a target="blank" class="text text-size-small text-white" href="http://lenoxbot.com">&copy; LenoxBot
        </a>
        <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </nav>
</footer>