<title>{{lang.website_error_htmltitle}} - LenoxBot</title>
<main>
    <div class="container lb-bg-100vh">
        <div class="alert alert-danger mt-3" role="alert">
            <p class="h3">{{lang.website_error_error}} {{statuscode}}</p>
            <p class="h5">{{message}}</p>
        </div>
        {{#if fix}}
        <div class="howtofix">
            <p class="h3 text-white">{{lang.website_error_fix}}</p>
            <p class="h5 text-white">{{howtofix}}</p>
        </div>
        {{/if}}
        <button id="back" class="btn lb-btn-grey"><i class="mdi mdi-chevron-left"></i> {{lang.website_global_back}}</button>
        <script>
            $('button#back').on('click', function (e) {
                e.preventDefault();
                window.history.back();
            });
        </script>
    </div>
</main>