<title>{{lang.website_home_htmltitle}} - LenoxBot</title>
<script>
    var currentPageId = "#home";
</script>
<!-- Hero -->
<main class="container-fluid lb-hero">
    <div class="row lb-hero-mainrow">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
            <h1 class="text-light font-weight-light">{{lang.website_home_title}}</h1>
            <a href="/invite" target="_blanc" class="btn lb-btn-invite btn-lg mt-4"> <i class="mdi mdi-discord"></i>
                {{lang.website_home_title_invite}}</a>
        </div>
        {{!-- <div class="d-none"> --}}
        <div class="col-sm-6 d-none d-md-flex justify-content-center align-items-center text-center">
            <figure class="lb-figure-hero">
                <div class="lb-hero-img">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 836.5"
                        style="enable-background:new 0 0 800 836.5;" xml:space="preserve">
                        <!-- head -->
                        <path class="lb-bot-svg lb-bot-head" d="M250,55.5h300c75.1,0,136,60.9,136,136l0,0c0,75.1-60.9,136-136,136H250c-75.1,0-136-60.9-136-136l0,0
              C114,116.4,174.9,55.5,250,55.5z" />
                        <!-- eyes -->
                        <circle class="lb-bot-svg lb-bot-eye" cx="576.5" cy="191" r="29.5" />
                        <circle class="lb-bot-svg lb-bot-eye" cx="224.5" cy="191" r="29.5" />
                        <!-- mouth -->
                        <path class="lb-bot-svg lb-bot-mouth"
                            d="M443,220.5c0,26.2-15.8,47.5-42,47.5s-43-21.3-43-47.5" />
                        <!-- chest -->
                        <path class="lb-bot-svg lb-bot-body lb-bot-chest" d="M234,412.5h332c5.5,0,10,4.5,10,10v213.8c0,3.3-1.6,6.4-4.4,8.3L405.1,757.7c-3.4,2.3-7.9,2.3-11.3,0
              l-165.4-112c-2.8-1.9-4.4-5-4.4-8.3V422.5C224,417,228.5,412.5,234,412.5z" />
                        <!-- right arm -->
                        <path class="lb-bot-svg lb-bot-body lb-bot-arm lb-bot-r-arm" d="M705.2,580.1l-67.9-67.9c-8.4-8.4-8.4-22,0-30.4l0,0c8.4-8.4,22-8.4,30.4,0l67.9,67.9c8.4,8.4,8.4,22,0,30.4
              l0,0C727.2,588.5,713.6,588.5,705.2,580.1z" />
                        <!-- left arm -->
                        <path class="lb-bot-svg lb-bot-body lb-bot-arm lb-bot-l-arm" d="M162.6,512.3l-67.9,67.9c-8.4,8.4-22,8.4-30.4,0l0,0c-8.4-8.4-8.4-22,0-30.4l67.9-67.9c8.4-8.4,22-8.4,30.4,0
              l0,0C171,490.3,171,503.9,162.6,512.3z" />
                        <!-- icon chest -->
                        <path class="lb-bot-svg lb-bot-iconchest" d="M345.5,593c0,9.2,7.7,16.6,17.2,16.6c4.7,0,9.2-1.7,12.3-4.8l31.4-30.3l8.4,8.1c-1.1,4,0,8.5,3.2,11.6
              l12.2,11.8c4.9,4.7,12.7,4.7,17.5,0.1c4.8-4.6,4.7-12.2-0.1-16.9l-12.2-11.8c-3.3-3.2-7.9-4.2-12-3.1l-8.4-8.1l5.4-5.2
              c11.5,2.8,24.2-0.1,33.2-8.6c6.2-5.8,9.6-13.3,10-20.9v-0.4c0-2.6-2.2-4.7-4.9-4.7c-1.4,0-2.6,0.5-3.5,1.4l-1.4,1.4l-5,4.7
              c-3.1,2.9-7.6,4.7-12.4,4.7s-9-2-12.1-5c-3.1-3-5.2-7.1-5.2-11.7c0-4.6,1.8-8.9,4.8-11.9l4.9-4.8l1.4-1.4c0.9-0.9,1.4-2.1,1.4-3.4
              c0-2.6-2.2-4.8-4.8-4.8h-0.4c-7.9,0.4-15.6,3.7-21.7,9.7c-8.8,8.7-11.8,20.9-8.9,32l-5.4,5.2l-22.8-21.9v-6l-14.7-7.1l-7.4,7.1
              l7.4,14.3h6.2l22.7,21.9l-31.4,30.3C347.3,584.1,345.5,588.4,345.5,593z M357.8,591.8c0-3.3,2.8-5.9,6.1-5.9c3.4,0,6.1,2.7,6.1,5.9
              s-2.8,5.9-6.1,5.9C360.5,597.7,357.8,595.1,357.8,591.8z" />
                    </svg>
                </div>
            </figure>
        </div>
        {{!-- </div> --}}
        <div class="col-12 d-block d-sm-flex flex-row align-items-end justify-content-around pb-5 mt-3">
            <h2 class="text-light font-weight-light d-block"><span class="lb-count">{{botguildscount}}</span>
                <small class="text-muted font-weight-light"><i class="mdi mdi-account-group"></i>
                    {{lang.website_home_title_guilds}}</small></h2>
            <h2 class="text-light font-weight-light d-block"><span class="lb-count">{{botmemberscount}}</span>
                <small class="text-muted font-weight-light"><i class="mdi mdi-account"></i>
                    {{lang.website_home_title_members}}</small></h2>
            <h2 class="text-light font-weight-light d-inline-block"><span class="lb-count">{{botcommands}}</span>
                <small class="text-muted font-weight-light"><i class="mdi mdi-code-tags-check"></i>
                    {{lang.website_home_title_commands}}</small></h2>
        </div>
    </div>
</main>

<!-- features section -->
<section id="features" class="lb-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center font-weight-light text-uppercase my-5">
                <h1>{{lang.website_home_features}}</h1>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-console-line lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_commands}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_commands_description}}</p>
                    </div>
                    <div class="card-footer lb-card-footer mb-2">
                        <a href="/commands" class="card-link">{{lang.website_home_features_commands_link}}</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-settings lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_configurable}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_configurable_description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-folder-multiple lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_allinone}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_allinone_description}}</p>
                    </div>
                    <div class="card-footer lb-card-footer mb-2">
                        <a href="/commands" class="card-link">{{lang.website_home_features_allinone_link}}</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-currency-usd-off lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_free}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_free_description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-chart-line lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_dashboard}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_dashboard_description}}</p>
                    </div>
                    <div class="card-footer lb-card-footer mb-2">
                        {{#if user}}
                        <a href="/servers" class="card-link">{{lang.website_home_features_dashboard_servers}}</a>
                        {{ else }}
                        <a href="/loginpressedbutton"
                            class="card-link">{{lang.website_home_features_dashboard_link}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card lb-feature-card shadow">
                    <div class="card-body">
                        <i class="mdi mdi-cloud-check lb-feature-icon"></i>
                        <h5 class="card-title">{{lang.website_home_features_uptime}}</h5>
                        <hr>
                        <p class="card-text">{{lang.website_home_features_uptime_description}}</p>
                    </div>
                    <div class="card-footer lb-card-footer mb-2">
                        <a href="https://status.lenoxbot.com"
                            class="card-link">{{lang.website_home_features_uptime_statuspage}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /feature section -->
<!-- What our customers say -->
<section id="rating" class="lb-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center font-weight-light text-uppercase my-5">
                <h1>{{lang.website_home_rating_title}} ❤</h1>
            </div>
            <div class="col-12 text-center" style="margin-bottom: 30px;">
                <div id="lenoxbotrating" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each ratings}}
                        <div class="carousel-item p-4 text-center rating-{{@index}}">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h4 class="card-title"><i class="mdi mdi-star lb-starchecked"></i><i
                                            class="mdi mdi-star lb-starchecked"></i><i
                                            class="mdi mdi-star lb-starchecked"></i><i
                                            class="mdi mdi-star lb-starchecked"></i><i
                                            class="mdi mdi-star lb-starchecked"></i></h4>
                                    <blockquote class="card-text lb-blockquote m-4">
                                        {{quote}}
                                        <cite class="lb-cite">{{cite}}</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#lenoxbotrating" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon lb-rating-previcon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#lenoxbotrating" role="button" data-slide="next">
                        <span class="carousel-control-next-icon lb-rating-nexticon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.rating-0').addClass('active')
</script>
<!-- lenoxbot index JS -->
<script src="js/index.js"></script>