<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
    // load a locale
    numeral.register('locale', 'lb', {
        delimiters: {
            thousands: ' ',
            decimal: '.'
        },
        abbreviations: {
            thousand: 'K',
            million: 'M',
            billion: 'B',
            trillion: 'T'
        },
        currency: {
            symbol: '$'
        }
    });

    // switch between locales
    numeral.locale('lb');

</script>

<script>
    var currentPageId = '#leaderboard';
</script>
<title>{{lang.website_leaderboard_htmltitle}} - LenoxBot</title>
<main>
    <div class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mt-3">
                        <p class="h3 font-weight-light mt-3 d-inline">{{lang.website_leaderboard_guild_globalleaderboard}}</p>
                        {{#if user}}
                        <button class="btn lb-btn-green float-right dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{lang.website_leaderboard_guild_serverleaderboard}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="max-width: 320px;">
                            {{#if islenoxbotnp}}
                            {{#each islenoxbotnp}}
                            <a class="dropdown-item lb-dropdown-item lb-textcap" href="/leaderboards/server/{{id}}">{{name}}</a>
                            {{/each}}
                            {{else}}
                            <span class="text-muted pl-4">{{lang.website_leaderboard_guild_noservers}}</span>
                            {{/if}}
                        </div>
                        {{else}}
                        <a href="/loginpressedbutton" class="btn lb-btn-green float-right"> {{lang.website_leaderboard_guild_serverleaderboard}}</a>
                        {{/if}}
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table lb-bg-realwhite">
                            <!-- Rankinglist-->
                            <tbody>
                                {{#if user}} {{#if userData.loaded}}
                                <tr class="lb-row-leaderboard-user lb-bg-badgold">
                                    <td class="lb-text-leaderboard-user text-center">
                                        {{userData.place}}
                                    </td>
                                    <td class="lb-text-leaderboard-user">
                                        <figure class="lb-profile-leaderboard">
                                            {{#if user.avatar}}
                                            <img class="rounded-circle shadow-sm lb-img-profile-leaderboard-user" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg">
                                            {{else}}
                                            <img class="rounded-circle shadow-sm lb-img-profile-leaderboard-user" src="/discordicon.png">
                                            {{/if}}
                                        </figure>
                                        <a class="text-dark" href="/profile/{{user.id}}">{{user.username}}</a>
                                    </td>
                                    <td class="lb-text-leaderboard-user text-right">
                                        <span class="lb-bumer" data-toggle="tooltip" data-placement="left" title="{{addCommas userData.credits}}">
                                            <script>document.write(numeral({{userData.credits}}).format('0.0a'))</script></span>
                                        <small class="text-muted">{{lang.website_leaderboard_credits}}</small>
                                    </td>
                                </tr>
                                {{/if}} {{/if}}
                                {{#each credits}}
                                {{#if ../user}} {{#eq ../user.id userId}}
                                <tr data-rel="{{@index}}row" class="lb-row-leaderboard lb-bg-badgold">
                                    {{else}}
                                <tr data-rel="{{@index}}row" class="lb-row-leaderboard">
                                    {{/eq}} {{else}}
                                <tr data-rel="{{@index}}row" class="lb-row-leaderboard">
                                    {{/if}}
                                    <td data-rel="{{@index}}txt" class="lb-text-leaderboard text-center">
                                        <script>document.write({{@index}}+1)</script>
                                    </td>
                                    {{#if user}}
                                    <td data-rel="{{@index}}txt" class="lb-text-leaderboard">
                                        <figure class="lb-profile-leaderboard">
                                            {{#if user.avatar}}
                                            <img data-rel="{{@index}}img" class="rounded-circle shadow-sm lb-img-profile-leaderboard"
                                                src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg">
                                            {{else}}
                                            <img data-rel="{{@index}}img" class="rounded-circle shadow-sm lb-img-profile-leaderboard"
                                                src="discordicon.png">
                                            {{/if}}
                                            <div data-rel="{{@index}}badge" type="image/svg+xml" class="lb-badge-leaderboard"></div>
                                        </figure>
                                        <a  class="text-dark" href="/profile/{{user.id}}">{{user.username}}</a>
                                    </td>
                                    {{else}}
                                    <td data-rel="{{@index}}txt" class="lb-text-leaderboard">
                                        <figure class="lb-profile-leaderboard">
                                            <img data-rel="{{@index}}img" class="rounded-circle shadow-sm lb-img-profile-leaderboard"
                                                src="discordicon.png">
                                            <div data-rel="{{@index}}badge" type="image/svg+xml" class="lb-badge-leaderboard"></div>
                                        </figure>
                                        {{userId}}
                                    </td>
                                    {{/if}}
                                    <td data-rel="{{@index}}txt" class="lb-text-leaderboard text-right"><span class="lb-bumer"
                                            data-toggle="tooltip" data-placement="left" title="{{addCommas credits}}">
                                            <script>document.write(numeral({{ credits }}).format('0.0a'))</script></span>
                                        <small class="text-muted">{{../lang.website_leaderboard_credits}}</small></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>