<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
    // load a locale
    numeral.register('locale', 'lb', {
        delimiters: {
            thousands: ' ',
            decimal: '.'
        },
        abbreviations: {
            thousand: 'K',
            million: 'M',
            billion: 'B',
            trillion: 'T'
        },
        currency: {
            symbol: '$'
        }
    });

    // switch between locales
    numeral.locale('lb');

</script>
<title>{{replace lang.website_profile_htmltitle "%name" profileUser.username}} - LenoxBot</title>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4 mt-5 text-center">
                    <div class="card lb-profile-user-card shadow mb-3 mt-5">
                        <div class="card-body">
                            <figure class="lb-profile-user-img">
                                {{#if profileUser.avatar}}
                                <img id="icon-selectserver" class="rounded-circle" src="https://cdn.discordapp.com/avatars/{{profileUser.id}}/{{profileUser.avatar}}.jpg"
                                    height="120" width="120">
                                {{else}}
                                <img id="icon-selectserver" class="rounded-circle" src="/discordicon.png"
                                    height="120" width="120">
                                {{/if}}
                            </figure>
                            {{#if ispremium}}<h1 class="mt-5 lb-profile-premiumuser"><span data-toggle="tooltip" data-placement="left" title="{{profileUser.id}}">{{profileUser.username}}<small class="text-muted">#{{profileUser.discriminator}}</small></span>{{else}}<h1 class="mt-5"><span data-toggle="tooltip" data-placement="left" title="{{profileUser.id}}">{{profileUser.username}}<small class="text-muted">#{{profileUser.discriminator}}</small></span>{{/if}} {{#if isstaff}}<small data-toggle="tooltip" data-placement="right" title="Staff Member" class="text-primary mdi mdi-security-account"></small>{{/if}} {{#if ispremium}}<small data-toggle="tooltip" data-placement="right" title="Premium User" class="mdi mdi-heart lb-profile-premiumuser"></small>{{/if}}</h1>
                            <p class="h4 font-weight-light text-center">{{userDescription}}</p>
                        </div>
                    </div>
                    <div class="card-columns">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">{{lang.website_profile_stats}}</h3>
                                <div class="row">
                                    <div class="col-6 p-0"><small>{{lang.website_profile_credits}}</small>
                                        <p class="h1">
                                            <span data-toggle="tooltip" data-placement="left" title="{{addCommas userCredits}}">
                                                <script>document.write(numeral({{ userCredits }}).format('0.0a'))</script></span>
                                        </p>
                                    </div>
                                    <div class="col-6 p-0"><small>{{lang.website_profile_rank}}</small>
                                    <p class="h1">Disabled</p>
                                        <!-- <p class="h1">#{{userCreditsGlobalRank}}</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">{{lang.website_profile_badges}}</h3>
                                {{#if badgesAndTitles}}
                                <div class="row">
                                    {{#each badgesAndTitles}}
                                    <div class="col-3 p-0 lb-profile-badge"><span data-toggle="tooltip" data-placement="left" title="{{capitalize name}}">{{emoji}}</span></div>
                                    {{/each}}
                                </div>
                                {{else}}
                                <p>{{lang.website_profile_nobadges}} 😢</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">{{lang.website_profile_titles}}</h3>
                                {{#if badgesAndTitles}}
                                <ul class="text-left">
                                    {{#each badgesAndTitles}}
                                    <li>{{capitalize name}}</li>
                                    {{/each}}
                                </ul>
                                {{else}}
                                <p>{{lang.website_profile_notitles}} 😢</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">{{lang.website_profile_inv}} <small class="text-muted">{{inventoryItemsUsed}}/{{inventoryItemsSpace}}</small></h3>
                                {{#if inventoryItems}}
                                <div class="row">
                                    {{#each inventoryItems}}
                                    <div class="col-3 p-0"><span data-toggle="tooltip" data-placement="left" title="{{capitalize name}}">{{emoji}}</span>x{{amount}}</div>
                                    {{/each}}
                                </div>
                                {{else}}
                                <p>{{lang.website_profile_noitems}} 😢</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">{{lang.website_profile_socialmedia}}</h3>
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    {{#if userSocialmediaCheck}}
                                    {{#if userSocialmediaTwitch}}
                                    <a href="https://www.twitch.tv/{{userSocialmediaTwitch}}" class="lb-profile-social lb-profile-social-twitch"><i
                                            class="mdi mdi-twitch"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaYoutube}}
                                    <a href="https://www.youtube.com/channel/{{userSocialmediaYoutube}}" class="lb-profile-social lb-profile-social-youtube"><i
                                            class="mdi mdi-youtube"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaTwitter}}
                                    <a href="https://twitter.com/{{userSocialmediaTwitter}}" class="lb-profile-social lb-profile-social-twitter"><i
                                            class="mdi mdi-twitter"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaInstagram}}
                                    <a href="https://www.instagram.com/{{userSocialmediaInstagram}}" class="lb-profile-social lb-profile-social-instagram"><i
                                            class="mdi mdi-instagram"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaFacebook}}
                                    <a href="https://www.facebook.com/{{userSocialmediaFacebook}}" class="lb-profile-social lb-profile-social-facebook"><i
                                            class="mdi mdi-facebook-box"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaGithub}}
                                    <a href="https://www.github.com/{{userSocialmediaGithub}}" class="lb-profile-social lb-profile-social-github"><i
                                            class="mdi mdi-github-circle"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaPinterest}}
                                    <a href="https://www.pinterest.com/{{userSocialmediaPinterest}}" class="lb-profile-social lb-profile-social-pinterest"><i
                                            class="mdi mdi-pinterest-box"></i></a>
                                    {{/if}}
                                    {{#if userSocialmediaReddit}}
                                    <a href="https://www.reddit.com/user/{{userSocialmediaReddit}}" class="lb-profile-social lb-profile-social-reddit"><i
                                            class="mdi mdi-reddit"></i></a>
                                    {{/if}}
                                    {{else}}
                                    <p>{{lang.website_profile_nosocialmedia}} 😢</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>