<header id="header">
    <nav class="navbar" role="navigation">
        <div class="logo navbar-brand">
            <span class="navbar-toggler-icon">
                <img class="d-inline-block align-top" src="https://i.imgur.com/MINCK5a.png" height="30" width="30" alt="">
            </span>
            <p class="text text-size-big text-white navbar-toggler" style="float:right;">LenoxBot</p>
        </div>
        <ul class="nav navbar-nav" id="navbar-header">
            <li class="nav-item">
                <a href="home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li class="nav-item">
                <a href="documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li class="nav-item">
                <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Blog
                    <span class="label label-info">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://lenoxbot.com/invite" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Invite LenoxBot</a>
            </li>
            <li class="nav-item">
                <a href="https://lenoxbot.com/discord" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Discord Server</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                <a href="servers" class="text text-size-normal text-white navbar-button" id="active">Dashboard
                    <span class="label label-danger">ALPHA</span>
                </a>
                {{/if}}
            </li>
        </ul>
		<div class="navbar" id="loginbutton">
        {{#if user}}
        <a href="logout" class="text text-size-normal navbar-button" style="color: black;">Log out</a>
        {{ else }}
        <a href="login" class="text text-size-normal navbar-button" style="color: black;">Log in</a>
        {{/if}}
    </div>
    </nav>
	</div>
</header>
<main class="selectserver">
	<section>
		<div class="container">
			<div class="row">
				{{#each guilds}}
                <div class="card">
				<div class="col-sm-4 col-sm-6 col-xs-12">
					<figure style="margin: 20px;">
						{{#if lenoxbot}}
						{{#if icon}}
						<a href="dashboard/{{id}}/overview">
						<img id="icon-selectserver" class="card-img-top" src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg" height="120" width="120">
						</a>
						{{else}}
						<a href="dashboard/{{id}}/overview">
						<img id="icon-selectserver" class="card-img-top" src="discordicon.png" height="120" width="120">
						</a>
						{{/if}}
						{{else}}
						{{#if icon}}
						<a href="https://lenoxbot.com/invite">
						<img id="icon-selectserver" class="card-img-top" src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg" height="120" width="120">
						</a>
						{{else}}
						<a href="https://lenoxbot.com/invite">
						<img id="icon-selectserver" class="card-img-top" src="discordicon.png" height="120" width="120">
						</a>
						{{/if}}
						{{/if}}
					</figure>
					<div class="text card-body" style="margin: 20px;">
						<h3 class="text-white text text-size-normal card-title card-text" style="margin-top: 10px; margin-bottom: 10px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{name}}</h3>
						{{#if lenoxbot}}
						<h6 class="text text-size-small card-text" style="margin-top: 10px; margin-bottom: 10px; color:aqua;">{{memberscount}} members</h6>
						<a href="dashboard/{{id}}/overview">
						<p class="text text-white button btn btn-primary btn-lg" style="margin-top: 10px; margin-bottom: 10px;">Dashboard</p>
						</a>
						{{else}}
						<h6 class="text text-size-small" style="margin-top: 10px; margin-bottom: 10px; color:rgb(216, 71, 71);">Not using LenoxBot</h6>
						<a href="https://lenoxbot.com/invite" target="blanc">
						<p class="text text-white button btn btn-warning btn-lg" style="margin-top: 10px; margin-bottom: 10px;">Get LenoxBot!</p>
						</a>
						{{/if}}
					</div>
				</div>
                </div>
				{{/each}}
			</div>
            <p class="text text-white text-size-big servernotlist" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">If you cannot find your server in the list, log in again!</p>
        </div>
	</section>
</main>


    <footer>
        <nav class="footer-navigation">
            <p target="blank" class="text text-size-small text-white">&copy; LenoxBot
            </p>
            <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
        </nav>
    </footer>