<title>{{lang.website_servers_htmltitle}} - LenoxBot</title>
<main>
	<section id="servers">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-4">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<i class="mdi mdi-alert"></i> {{lang.website_servers_warning}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				{{#each guilds}}
				<div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
					{{#if premium}}
					<div class="card lb-feature-card-premium shadow">
						{{else}}
						<div class="card lb-feature-card shadow">
						{{/if}}
						<div class="card-body">
							<figure>
								{{#if lenoxbot}} {{#if icon}}
								<a href="dashboard/{{id}}/overview">
									<img id="icon-selectserver" class="rounded-circle"
										src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg" height="120"
										width="120">
								</a>
								{{else}}
								<a href="dashboard/{{id}}/overview">
									<img id="icon-selectserver" class="rounded-circle" src="discordicon.png"
										height="120" width="120">
								</a>
								{{/if}} {{else}} {{#if icon}}
								<a href="https://lenoxbot.com/invite" target="blank">
									<img id="icon-selectserver" class="rounded-circle"
										src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg" height="120"
										width="120">
								</a>
								{{else}}
								<a href="https://lenoxbot.com/invite" target="blanc">
									<img id="icon-selectserver" class="rounded-circle" src="discordicon.png"
										height="120" width="120">
								</a>
								{{/if}} {{/if}}
							</figure>
							{{#if premium}}
							<h5 class="card-title lb-textcap" style="color: rgb(243, 212, 39); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"><i class="mdi mdi-star" title="LenoxBot Premium"></i> <strong>{{name}}</strong></h5>
							{{else}}
							<h5 class="card-title lb-textcap">{{name}}</h5>
							{{/if}}
							<hr>
							{{#if lenoxbot}}
							<p class="card-text">{{memberscount}} {{../lang.website_servers_members}}</p>
							<div class="btn-group" role="group">
								<a href="/dashboard/{{id}}/overview" class="btn lb-btn-green"><i
										class="mdi mdi-chart-line"></i> {{../lang.website_servers_dashboard}}</a>
								<a href="/leaderboards/server/{{id}}" class="btn lb-btn-blue"><i
										class="mdi mdi-trophy-award"></i> {{../lang.website_servers_leaderboards}}</a>
							</div>
							{{else}}
							<p class="card-text lb-text-red">{{../lang.website_servers_hasnotlenoxbot}}</p>
							<a href="https://discordapp.com/oauth2/authorize?client_id=354712333853130752&scope=bot&permissions=8&guild_id={{id}}"
								class="btn lb-btn-invite" target="blanc"><i class="mdi mdi-discord"></i> {{../lang.website_servers_getlenoxbot}}</a>
							{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
</main>