<title>Servers - LenoxBot</title>
<main>
	<section id="servers" class="lb-bg-white">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-4">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>Warning!</strong> If you cannot find your server in the list, log in again!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				{{#each guilds}}
				<div class="col-12 col-md-6 col-lg-4 mb-4 text-center">
					<div class="card lb-feature-card shadow">
						<div class="card-body">
							<figure>
								{{#if lenoxbot}} {{#if icon}}
								<a href="dashboard/{{id}}/overview">
									<img id="icon-selectserver" class="rounded-circle" src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg"
									 height="120" width="120">
								</a>
								{{else}}
								<a href="dashboard/{{id}}/overview">
									<img id="icon-selectserver" class="rounded-circle" src="discordicon.png" height="120" width="120">
								</a>
								{{/if}} {{else}} {{#if icon}}
								<a href="https://lenoxbot.com/invite" target="blank">
									<img id="icon-selectserver" class="rounded-circle" src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.jpg"
									 height="120" width="120">
								</a>
								{{else}}
								<a href="https://lenoxbot.com/invite" target="blanc">
									<img id="icon-selectserver" class="rounded-circle" src="discordicon.png" height="120" width="120">
								</a>
								{{/if}} {{/if}}
							</figure>
							<h5 class="card-title lb-textcap">{{name}}</h5>
							<hr>
							{{#if lenoxbot}}
							<p class="card-text">{{memberscount}} members</p>
							<div class="btn-group" role="group">
								<a href="/dashboard/{{id}}/overview" class="btn lb-btn-green"><i class="mdi mdi-chart-line"></i> Dashboard</a>
								<a href="/leaderboards/server/{{id}}" class="btn lb-btn-blue"><i class="mdi mdi-trophy-award"></i> Leaderboards</a>
							</div>
							{{else}}
							<p class="card-text lb-text-red">Not using LenoxBot :(</p>
							<a href="https://discordapp.com/oauth2/authorize?client_id=354712333853130752&scope=bot&permissions=8&guild_id={{id}}"
							 class="btn lb-btn-invite" target="blanc"><i class="mdi mdi-discord"></i> Get LenoxBot</a>
							{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
</main>