<title>{{lang.website_ticket_htmltitle}} - LenoxBot</title>
<main>
    {{#if submitticketanswer}}
    {{> notification}}
    {{/if}}
    <section class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-3">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <p class=" h5">{{lang.website_ticket_ticket}} {{ticket.ticketid}} | {{website_ticket_status}} {{ticket.status}}</p>
                                <div class="btn-group" role="group" aria-label="Status">
                                    <form action="/tickets/{{ticket.ticketid}}/submitnewticketstatus" method="POST">
                                        <button type="submit" class="btn lb-btn-red" value="closed" name="newstatus">{{lang.website_global_close}}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body">
                                {{#if status}}
                                <form class="form-horizontal" action="/tickets/{{ticket.ticketid}}/submitticketanswer"
                                    method="POST">
                                    <div class="form-group">
                                        <label class="control-label" for="newticketanswer">{{lang.website_ticket_answer}}</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="newticketanswer" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-10">
                                            <button type="submit" class="btn lb-btn-green">{{lang.website_global_send}}</button>
                                        </div>
                                    </div>
                                </form>
                                {{/if}}
                                <ul class="lb-timeline">
                                    {{#if answers}}
                                    {{#each answers}}
                                    {{#if timelineconf}}
                                    {{#if toStatus}}
                                    {{#eq toStatus 'open'}}
                                    <li class="li-2">
                                        <h4 class="mb-0">
                                            <p class="text-primary" style="display:inline">{{author}}</p> {{{content}}}
                                        </h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                    </li>
                                    {{else}}
                                    <li class="li-2">
                                        <h4 class="mb-0">
                                            <p class="text-primary" style="display:inline">{{author}}</p> {{{content}}}
                                        </h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                    </li>
                                    {{/eq}}
                                    {{else}}
                                    <li class="li-2">
                                        <h4 class="mb-0 text-primary">{{author}}</h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                        <div class="timeline-body">
                                            <p class="py-4">{{{content}}}</p>
                                        </div>
                                    </li>
                                    {{/if}}
                                    {{else}}
                                    {{#if toStatus}}
                                    {{#eq toStatus 'open'}}
                                    <li>
                                        <h4 class="mb-0">{{author}} {{{content}}}</h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                    </li>
                                    {{else}}
                                    <li>
                                        <h4 class="mb-0">{{author}} {{{content}}}</h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                    </li>
                                    {{/eq}}
                                    {{else}}
                                    <li>
                                        <h4 class="mb-0">{{author}}</h4>
                                        <small class="text-muted">
                                            <i class="mdi mdi-clock-outline"></i> {{newdate}}</small>
                                        <p class="py-4">{{{content}}}</p>
                                    </li>
                                    {{/if}}
                                    {{/if}}
                                    {{/each}} {{/if}}
                                    <li>
                                        <div class="timeline-heading">
                                            <h4 class="mb-0">{{ticket.author}}</h4>
                                            <small class="text-muted">
                                                <i class="mdi mdi-clock-outline"></i> {{ticket.newdate}}</small>
                                        </div>
                                        <div class="timeline-body col-lg-10">
                                            <p class="py-4">{{{ticket.content}}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>