<title>{{lang.website_vote_htmltitle}} - LenoxBot</title>
<main>
    <section id="voting" class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <h1>{{lang.website_vote_voting}}</h1>
                    <h3>» {{lang.website_vote_why}}</h3>
                    <p>{{lang.website_vote_whyanswer}}</p>
                    <hr class="lb-hr-voting">
                    <h3>» {{lang.website_vote_goods}}</h3>
                    <p>{{lang.website_vote_goodsanswer}}</p>
                    <p>{{lang.website_vote_whatarecredits}} <a href="https://docs.lenoxbot.com">https://docs.lenoxbot.com</a>.</p>
                    <hr class="lb-hr-voting">
                    <h3>» {{lang.website_vote_howto}}</h3>
                    <p>{{lang.website_vote_link}} <a href="https://discordbots.org/bot/lenoxbot/vote" target="_blanc">https://discordbots.org/bot/lenoxbot/vote</a></p>
                    <br>
                    <img src="https://i.imgur.com/TwoSOPx.png" class="img-fluid">
                    <br>
                    <p class="text-center"><strong>{{lang.website_vote_discordbotsexpl}}</strong></p>
                    <br>
                    <div class="text-center">
                    <img src="https://i.imgur.com/MsLaAr6.png" class="img-fluid">
                    <br>
                    <img src="https://i.imgur.com/OQ75igl.png" class="img-fluid">
                    <hr>
                    <h1>🎉 {{lang.website_vote_fun}} 🎉</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>